.container.main_content .carousel .item_container .item .recipe_card, .account .recipe_card, .container.main_content .carousel .item_container .item .recipe_card .card_info, .account .recipe_card .card_info, .row.banner .col p, .page-footer .footer-copyright, .add_recipe #cook_time, .add_recipe#prep_time {
  display: flex;
  flex-direction: column; }

.container.main_content .row.small_screen_show .dropdown-trigger, .account .small_screen_show .dropdown-trigger, .add_recipe .select-wrapper .dropdown-trigger {
  color: #141414; }
  @media (min-width: 600px) {
    .container.main_content .row.small_screen_show .dropdown-trigger, .account .small_screen_show .dropdown-trigger, .add_recipe .select-wrapper .dropdown-trigger {
      max-width: 200px; } }

.container.main_content .row.small_screen_show .dropdown-content li > span, .account .small_screen_show .dropdown-content li > span, .add_recipe .select-wrapper .dropdown-content li > span {
  color: #f6b26b; }

.container.main_content .row.small_screen_show input.select-dropdown:focus, .account .small_screen_show input.select-dropdown:focus, .add_recipe .select-wrapper input.select-dropdown:focus {
  border-color: #F4BD81; }

.container.main_content .carousel .item_container .item .recipe_card, .account .recipe_card {
  align-items: center;
  text-align: center; }
  @media (min-width: 600px) {
    .container.main_content .carousel .item_container .item .recipe_card, .account .recipe_card {
      width: 300px; } }
  .container.main_content .carousel .item_container .item .recipe_card img, .account .recipe_card img {
    max-width: 100%; }
  .container.main_content .carousel .item_container .item .recipe_card .card_info, .account .recipe_card .card_info {
    align-items: center;
    width: 100%;
    color: white;
    font-weight: 500;
    margin-top: 5px;
    background-color: #AF9AF4; }
    .container.main_content .carousel .item_container .item .recipe_card .card_info span, .account .recipe_card .card_info span {
      display: flex;
      align-items: center; }
    .container.main_content .carousel .item_container .item .recipe_card .card_info a, .account .recipe_card .card_info a {
      text-decoration: none;
      color: white; }
      .container.main_content .carousel .item_container .item .recipe_card .card_info a:hover, .account .recipe_card .card_info a:hover {
        text-decoration: underline; }
    .container.main_content .carousel .item_container .item .recipe_card .card_info p, .account .recipe_card .card_info p {
      margin: 10px; }
    .container.main_content .carousel .item_container .item .recipe_card .card_info i, .account .recipe_card .card_info i {
      font-size: 20px;
      color: #F4BD81; }
    .container.main_content .carousel .item_container .item .recipe_card .card_info .highlight:hover, .account .recipe_card .card_info .highlight:hover {
      color: #F4C99A; }

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s; }

.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 3px;
  background: #F4C99A;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: white; }

.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1); }

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #9C81F4;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white; }

.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden; }

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #F4C99A;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0; }

.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }

.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px); }

body {
  font-size: 16px;
  color: #141414;
  min-height: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }
  body main {
    flex: 1 0 auto; }
  body h1 {
    font-size: 1.3em;
    font-weight: 500;
    border-bottom: 1px solid #DBDBDB;
    padding-bottom: 20px;
    margin: 50px 0 30px 0;
    text-align: center; }
    @media (min-width: 600px) {
      body h1 {
        font-size: 1.8em; } }
  body h2 {
    font-size: 1.2em;
    border-bottom: 3px dashed #F4BD81;
    padding-bottom: 10px;
    margin: 0 0 20px 0;
    text-align: center; }
    @media (min-width: 600px) {
      body h2 {
        font-size: 1.5em; } }
  body .fa-user {
    font-size: 12px;
    padding-right: 5px;
    color: #f6b26b; }

/* 
=== BACKGROUND ===
*/
.background {
  background-image: url("../assets/spices_small.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 370px;
  position: relative; }
  @media (min-width: 1000px) {
    .background {
      background-image: url("../assets/spices.jpg"); } }
  @media (min-width: 600px) {
    .background {
      height: 450px; } }

.overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5; }

/* 
=== NAVIGATION ===
*/
nav {
  background-color: white; }
  nav .brand-logo {
    font-size: .9em;
    font-weight: 500;
    color: #141414; }
    @media (min-width: 400px) {
      nav .brand-logo {
        font-size: 1.5em; } }
    @media (min-width: 600px) {
      nav .brand-logo {
        font-size: 1.8em; } }
    @media (min-width: 1000px) {
      nav .brand-logo {
        font-size: 2em;
        padding-left: 20px; } }
    nav .brand-logo span:last-child {
      color: #F4BD81; }
  nav a.sidenav-trigger {
    color: #F4BD81; }
  nav .nav-wrapper > ul a {
    display: flex;
    color: #141414;
    font-weight: 500;
    background-color: white;
    position: relative;
    z-index: 2; }
    nav .nav-wrapper > ul a:hover {
      background-color: transparent;
      color: white; }
      nav .nav-wrapper > ul a:hover i {
        color: white; }

.sidenav {
  width: 200px; }
  .sidenav .fa-user {
    padding-left: 5px;
    float: none;
    color: #f6b26b; }
  .sidenav a:hover {
    color: white; }
    .sidenav a:hover:hover .fa-user {
      color: white; }
  .sidenav .hvr-sweep-to-right:before {
    background-color: #F4C99A; }

/* 
=== HOME PAGE ===
*/
/* 
=== Login Form ===
*/
.row.banner {
  position: absolute;
  top: 100px;
  left: 5%;
  right: 5%;
  z-index: 2; }
  @media (min-width: 600px) {
    .row.banner {
      top: 150px;
      left: 0;
      right: 0; } }
  .row.banner .login {
    background-color: white; }
    .row.banner .login input[type=text].validate.valid,
    .row.banner .login input[type=text].validate.invalid,
    .row.banner .login input[type=password].validate.valid,
    .row.banner .login input[type=password].validate.invalid {
      border-bottom: 1px solid #9e9e9e;
      box-shadow: none; }
    .row.banner .login .input-field input[type=text]:focus,
    .row.banner .login .input-field input[type=password]:focus {
      border-bottom: 1px solid #F4BD81;
      -webkit-box-shadow: 0 1px 0 0 #F4BD81;
      box-shadow: 0 1px 0 0 #F4BD81; }
  .row.banner .welcome {
    text-align: center;
    color: white;
    margin-top: 90px; }
    .row.banner .welcome h5:first-child {
      font-size: 1.5em;
      font-weight: 500; }
      @media (min-width: 600px) {
        .row.banner .welcome h5:first-child {
          font-size: 2em; } }
    .row.banner .welcome span {
      color: #F4BD81; }
  .row.banner .error {
    padding: 10px 0 0 0;
    color: #F47769;
    font-size: 13px; }
  .row.banner .col {
    padding: 0; }
    .row.banner .col h5 {
      margin-top: 0; }
    .row.banner .col form {
      padding: 20px; }
    .row.banner .col p {
      font-size: 13px;
      margin: 0; }
      @media (min-width: 600px) {
        .row.banner .col p {
          flex-direction: row; } }
      .row.banner .col p a {
        color: #F4BD81; }
        @media (min-width: 600px) {
          .row.banner .col p a {
            padding-left: 7px; } }
        .row.banner .col p a:hover {
          color: #f6b26b; }
    .row.banner .col input:focus {
      border-bottom: 1px solid #F4BD81;
      -webkit-box-shadow: 0 1px 0 0 #F4BD81;
      box-shadow: 0 1px 0 0 #F4BD81; }
    .row.banner .col input:last-of-type {
      margin-bottom: 20px; }
  .row.banner button {
    width: 100%;
    background-color: #AF9AF4;
    border-radius: 0;
    -webkit-box-shadow: 3px 4px 0px 0px #C2B2F4;
    box-shadow: 3px 3px 0px 0px #C2B2F4; }
    .row.banner button:hover {
      background-color: #C2B2F4;
      -webkit-box-shadow: 3px 4px 0px 0px #C2B2F4;
      box-shadow: 3px 3px 0px 0px #C2B2F4; }
    @media (min-width: 600px) {
      .row.banner button {
        width: initial; } }

/* 
=== Main content ===
*/
.container.main_content {
  margin-top: 50px; }
  .container.main_content .row.small_screen_hide {
    display: none; }
    @media (min-width: 600px) {
      .container.main_content .row.small_screen_hide {
        display: initial; } }
  @media (min-width: 600px) {
    .container.main_content .row.small_screen_show {
      display: none; } }
  .container.main_content .row.small_screen_show .col {
    border-bottom: none; }
  .container.main_content .option {
    padding: 0;
    border-bottom: 2px solid #9e9e9e; }
    .container.main_content .option h3 {
      margin-bottom: 0;
      width: 100%;
      font-size: 20px;
      text-align: center;
      padding: 10px;
      background-color: white;
      transition: background-color .3s, border-bottom .3s, color .3s, font-weight .3s; }
      .container.main_content .option h3:hover {
        cursor: pointer;
        color: #333333;
        font-weight: 500; }
      .container.main_content .option h3.active {
        color: white;
        background-color: #F4BD81;
        font-weight: normal; }
        .container.main_content .option h3.active:hover {
          background-color: #F4C99A; }
  .container.main_content .carousel {
    height: 450px !important;
    margin-top: 50px; }
    @media (min-width: 600px) {
      .container.main_content .carousel {
        height: 500px !important; } }
    .container.main_content .carousel .left,
    .container.main_content .carousel .right {
      margin-top: 80px; }
      .container.main_content .carousel .left i,
      .container.main_content .carousel .right i {
        position: relative;
        z-index: 10;
        font-size: 70px;
        color: #F4BD81; }
    .container.main_content .carousel .item_container {
      height: 100%; }
      .container.main_content .carousel .item_container .item {
        display: flex;
        justify-content: center; }
        .container.main_content .carousel .item_container .item .recipe_card {
          width: 250px; }
    .container.main_content .carousel ul {
      padding-top: 20px; }
    .container.main_content .carousel .indicators .indicator-item {
      background-color: #F4C99A; }
      .container.main_content .carousel .indicators .indicator-item.active {
        background-color: #F4BD81; }

/* 
=== REGISTER PAGE ===
*/
.register_box {
  max-width: 400px;
  margin-top: 50px; }
  .register_box input[type=text].validate.valid,
  .register_box input[type=text].validate.invalid,
  .register_box input[type=password].validate.valid,
  .register_box input[type=password].validate.invalid {
    border-bottom: 1px solid #9e9e9e;
    box-shadow: none; }
  .register_box .input-field input[type=text]:focus + label,
  .register_box .input-field input[type=password]:focus + label {
    color: #F4BD81; }
  .register_box .input-field input[type=text]:focus,
  .register_box .input-field input[type=password]:focus {
    border-bottom: 1px solid #F4BD81;
    -webkit-box-shadow: 0 1px 0 0 #F4BD81;
    box-shadow: 0 1px 0 0 #F4BD81; }
  .register_box .col:last-of-type {
    display: flex;
    justify-content: flex-end; }
    .register_box .col:last-of-type button {
      width: 100%;
      background-color: #AF9AF4;
      border-radius: 0;
      -webkit-box-shadow: 3px 4px 0px 0px #C2B2F4;
      box-shadow: 3px 3px 0px 0px #C2B2F4; }
      .register_box .col:last-of-type button:hover {
        background-color: #AF9AF4;
        -webkit-box-shadow: 3px 4px 0px 0px #C2B2F4;
        box-shadow: 3px 3px 0px 0px #C2B2F4; }
      @media (min-width: 600px) {
        .register_box .col:last-of-type button {
          width: initial;
          margin-top: 20px; } }

/* 
=== ACCOUNT PAGE ===
*/
.account .col {
  padding: 0; }
.account .small_screen_hide {
  display: none; }
  @media (min-width: 1000px) {
    .account .small_screen_hide {
      display: initial; } }
.account h1 {
  margin-bottom: 0;
  width: 100%;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  background-color: white;
  transition: background-color .3s, border-bottom .3s, color .3s, font-weight .3s; }
  .account h1:hover {
    cursor: pointer;
    color: #333333;
    font-weight: 500; }
  .account h1.active {
    color: white;
    background-color: #F4BD81;
    font-weight: normal; }
    .account h1.active:hover {
      background-color: #F4C99A; }
@media (min-width: 1000px) {
  .account .small_screen_show {
    display: none; } }
.account .small_screen_show .dropdown-trigger {
  max-width: initial; }
.account .favourites {
  margin-top: 66px; }
.account .new_recipe {
  width: 100%;
  background-color: #AF9AF4;
  border-radius: 0;
  margin-top: 30px;
  -webkit-box-shadow: 3px 4px 0px 0px #C2B2F4;
  box-shadow: 3px 3px 0px 0px #C2B2F4; }
  .account .new_recipe:hover {
    background-color: #AF9AF4;
    -webkit-box-shadow: 3px 4px 0px 0px #C2B2F4;
    box-shadow: 3px 3px 0px 0px #C2B2F4; }
  @media (min-width: 600px) {
    .account .new_recipe {
      width: initial; } }
.account .recipe_card {
  margin: 80px 10px 0 10px; }
  @media (min-width: 600px) {
    .account .recipe_card {
      width: initial; } }
  .account .recipe_card .card_info {
    height: 200px;
    display: flex;
    justify-content: center; }
    .account .recipe_card .card_info div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
.account .buttons {
  display: flex;
  justify-content: space-between;
  margin: 30px 10px 0 10px; }
  .account .buttons .edit_recipe {
    background-color: #F4BD81;
    border-radius: 0;
    -webkit-box-shadow: 3px 4px 0px 0px #F4C99A;
    box-shadow: 3px 3px 0px 0px #F4C99A; }
    .account .buttons .edit_recipe:hover {
      background-color: #F4BD81;
      -webkit-box-shadow: 3px 4px 0px 0px #F4C99A;
      box-shadow: 3px 3px 0px 0px #F4C99A; }
    .account .buttons .edit_recipe.hvr-sweep-to-right:before {
      background-color: #f6b26b; }
  .account .buttons .delete_recipe {
    background-color: #F48B7F;
    border-radius: 0;
    -webkit-box-shadow: 3px 4px 0px 0px #F4A39A;
    box-shadow: 3px 3px 0px 0px #F4A39A; }
    .account .buttons .delete_recipe:hover {
      background-color: #F48B7F;
      -webkit-box-shadow: 3px 4px 0px 0px #F4A39A;
      box-shadow: 3px 3px 0px 0px #F4A39A; }
    .account .buttons .delete_recipe.hvr-sweep-to-right:before {
      background-color: #F47769; }

/* 
=== FOOTER ===
*/
.page-footer {
  background-color: #F4BD81;
  padding-top: 0;
  margin-top: 50px; }
  .page-footer .footer-copyright {
    min-height: 0;
    align-content: center; }
    @media (min-width: 600px) {
      .page-footer .footer-copyright {
        flex-direction: row;
        justify-content: center; } }
    .page-footer .footer-copyright p {
      padding: 20px;
      margin: 0; }
      @media (min-width: 600px) {
        .page-footer .footer-copyright p:first-child {
          padding-right: 20px 0 0 0; } }
      .page-footer .footer-copyright p:last-child {
        padding-top: 0; }
        @media (min-width: 600px) {
          .page-footer .footer-copyright p:last-child {
            padding: 0 0 0 20px; } }

/* 
=== ADD RECIPE PAGE ===
*/
.add_recipe .row margin {
  top: 0;
  bottom: 0; }
@media (min-width: 600px) {
  .add_recipe .row .col.left {
    border-right: 1px solid #9e9e9e; } }
.add_recipe .section.nutrition #fibre,
.add_recipe .section.nutrition #protein {
  margin-bottom: 20px; }
.add_recipe .section.allergens .col:last-child {
  margin-bottom: 15px; }
.add_recipe p {
  margin: 0;
  margin-bottom: 15px; }
  @media (min-width: 600px) {
    .add_recipe p {
      max-width: 200px; } }
@media (min-width: 600px) {
  .add_recipe #cook_time {
    max-width: 150px; } }
@media (min-width: 600px) {
  .add_recipe#prep_time {
    max-width: 150px; } }
.add_recipe label {
  color: #292929; }
.add_recipe .general span {
  font-size: 11px;
  font-weight: 700; }
.add_recipe input[type=text] {
  margin-bottom: 15px; }
.add_recipe input[type=text].validate.valid,
.add_recipe input[type=text].validate.invalid,
.add_recipe textarea.materialize-textarea:required:valid {
  border-bottom: 1px solid #9e9e9e;
  box-shadow: none; }
.add_recipe textarea.materialize-textarea:required:valid + label,
.add_recipe input[type=text].validate.valid + label {
  color: #292929; }
.add_recipe textarea.materialize-textarea:required:invalid + label,
.add_recipe input[type=text].validate.invalid + label {
  color: #292929; }
.add_recipe .input-field input[type=text]:focus + label,
.add_recipe textarea.materialize-textarea:focus + label {
  color: #F4BD81; }
.add_recipe .input-field input[type=text]:focus,
.add_recipe textarea.materialize-textarea:focus {
  border-bottom: 1px solid #F4BD81;
  -webkit-box-shadow: 0 1px 0 0 #F4BD81;
  box-shadow: 0 1px 0 0 #F4BD81; }
.add_recipe textarea {
  height: 60px;
  margin-bottom: 15px; }
.add_recipe p.range-field {
  margin-bottom: 15px; }
.add_recipe input[type=range] + .thumb {
  background-color: #F4BD81; }
.add_recipe input[type=range]::-webkit-slider-thumb {
  background-color: #F4BD81; }
.add_recipe input[type=range]::-moz-range-thumb {
  background-color: #F4BD81; }
.add_recipe input[type=range]::-ms-thumb {
  background-color: #F4BD81; }
.add_recipe .select-wrapper {
  margin-bottom: 15px; }
  @media (min-width: 600px) {
    .add_recipe .select-wrapper {
      max-width: 200px; } }
  @media (min-width: 600px) {
    .add_recipe .select-wrapper:nth-of-type(3) {
      max-width: 100px; } }
.add_recipe input[type="checkbox"]:checked + span:not(.lever):before {
  border-right: 3px solid #f6b26b;
  border-bottom: 3px solid #f6b26b; }
.add_recipe .ingredients_controls .col,
.add_recipe .instructions_controls .col {
  display: flex;
  justify-content: space-between; }
.add_recipe .ingredients_controls a,
.add_recipe .instructions_controls a {
  margin-top: 20px;
  margin-bottom: 50px; }
.add_recipe .ingredients_controls .add,
.add_recipe .instructions_controls .add {
  background-color: #f6b26b; }
  .add_recipe .ingredients_controls .add:hover,
  .add_recipe .instructions_controls .add:hover {
    background-color: #F4C99A; }
.add_recipe .ingredients_controls .remove,
.add_recipe .instructions_controls .remove {
  background-color: #F48B7F; }
  .add_recipe .ingredients_controls .remove:hover,
  .add_recipe .instructions_controls .remove:hover {
    background-color: #F4A39A; }
.add_recipe .submit_recipe {
  display: flex;
  justify-content: center; }
  .add_recipe .submit_recipe button {
    width: 90%;
    background-color: #AF9AF4;
    border-radius: 0;
    -webkit-box-shadow: 3px 4px 0px 0px #C2B2F4;
    box-shadow: 3px 3px 0px 0px #C2B2F4; }
    .add_recipe .submit_recipe button:hover {
      background-color: #AF9AF4;
      -webkit-box-shadow: 3px 4px 0px 0px #C2B2F4;
      box-shadow: 3px 3px 0px 0px #C2B2F4; }
    @media (min-width: 600px) {
      .add_recipe .submit_recipe button {
        width: initial;
        margin-top: 70px; } }

/* 
=== RECIPE DETAILS PAGE ===
*/
.edit_recipe img {
  width: 100%; }
.edit_recipe .img {
  padding: 0; }
  .edit_recipe .img:last-of-type {
    margin-top: 40px; }
  .edit_recipe .img label {
    left: 0; }

/* 
=== RECIPE DETAILS PAGE ===
*/
@media (max-width: 1000px) {
  .recipe_details .col {
    padding: 0; } }
.recipe_details .favourited_detail {
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (min-width: 600px) {
    .recipe_details .favourited_detail {
      justify-content: flex-start; } }
  .recipe_details .favourited_detail i {
    padding-right: 5px; }
.recipe_details .author {
  margin-top: 30px; }
  @media (min-width: 1000px) {
    .recipe_details .author {
      margin-top: 0; } }
.recipe_details .time .prep {
  margin: 10px 0 20px 0; }
.recipe_details .time .cook {
  margin: 0 0 10px 0; }
.recipe_details .top {
  padding-bottom: 30px;
  margin-bottom: 50px;
  border-bottom: 1px solid #DBDBDB;
  text-align: center; }
  @media (min-width: 1000px) {
    .recipe_details .top {
      text-align: left; } }
  .recipe_details .top p#author {
    margin-top: 0; }
@media (min-width: 1000px) {
  .recipe_details .bottom {
    position: relative; }
    .recipe_details .bottom .left {
      border-right: 1px solid #DBDBDB;
      position: relative; }
    .recipe_details .bottom .right {
      border-left: 1px solid #DBDBDB;
      position: relative;
      right: 0.5px; } }
.recipe_details h1 {
  text-align: center; }
  @media (min-width: 1000px) {
    .recipe_details h1 {
      text-align: left; } }
.recipe_details h2 {
  position: relative;
  cursor: pointer; }
  .recipe_details h2 i {
    position: absolute;
    right: 0; }
.recipe_details p {
  margin: 10px 0; }
.recipe_details img {
  width: 100%; }
.recipe_details i {
  margin-right: 10px;
  color: #f6b26b; }
  .recipe_details i.fa-print {
    color: #292929; }
.recipe_details ul {
  padding: 0px 0px 0px 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out; }
  .recipe_details ul li {
    list-style-type: square;
    color: #292929;
    margin-bottom: 15px;
    padding-right: 0; }
    .recipe_details ul li span {
      color: #141414; }
.recipe_details ol {
  padding: 0px 0px 0px 25px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out; }
  .recipe_details ol li {
    color: #292929;
    font-weight: 600;
    margin-bottom: 15px; }
    .recipe_details ol li span {
      color: #141414;
      font-weight: normal; }
.recipe_details .nutrition_list {
  padding-top: 1px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-bottom: 20px; }
  .recipe_details .nutrition_list .col {
    padding: .75rem; }
    .recipe_details .nutrition_list .col p {
      margin: 0;
      text-align: center; }
    .recipe_details .nutrition_list .col .nutrition_name {
      padding: 5px;
      background-color: #F4BD81;
      color: white; }
    .recipe_details .nutrition_list .col .nutrition_value {
      padding: 5px;
      border-bottom: 1px solid #DBDBDB;
      border-left: 1px solid #DBDBDB;
      border-right: 1px solid #DBDBDB; }
.recipe_details #instructions_expand,
.recipe_details #ingredients_expand,
.recipe_details #allergens_expand,
.recipe_details #nutrition_expand {
  margin-top: 25px; }

/*# sourceMappingURL=style.css.map */
