{% extends "base.html" %} 

{% block big_screen %}
<li><a href="{{ url_for('index') }}" class="hvr-sweep-to-top">Home</a></li>
<li><a href="{{ url_for('all_recipes') }}" class="hvr-sweep-to-top">All recipes</a></li>
<li><a href="{{ url_for('logout') }}" class="hvr-sweep-to-top">Logout</a></li>
{% endblock %} 

{% block small_screen %}
<li><a href="{{ url_for('index') }}" class="hvr-sweep-to-right">Home</a></li>
<li><a href="{{ url_for('all_recipes') }}" class="hvr-sweep-to-right">All recipes</a></li>
<li><a href="{{ url_for('logout') }}" class="hvr-sweep-to-right">Logout</a></li>
{% endblock %} 

{% block content %}
<div class="container account">
    <div class="row">
        <div class="col s12 small_screen_hide">
            <div class="col s6">
                <h1 class="profile_option1 active">My recipes</h1>
            </div>
            <div class="col s6">
                <h1 class="profile_option2">Favourites</h1>
            </div>
        </div>
        <div class="col s12 small_screen_show">
            <div class="input-field col s12">
                <select id="profile_options">
                    <option value="1">My recipes</option>
                    <option value="2">Favourites</option>
                </select>
            </div>
        </div>
        <div class="col s12 my_recipes">
            <div class="col s12">
                <a href="{{ url_for('add_recipe') }}">
                    <button class="btn waves-effect waves-light hvr-sweep-to-right new_recipe" type="submit" name="new">Add new recipe<i class="material-icons right">add</i></button>
                </a>
            </div>
            {% for recipe in my_recipes_a %} 
            <div class="col s12 m6 l4 recipe">
                <div class="recipe_card">
                    <div class="image">
                        <img src="{{ recipe.image }}">
                    </div>
                    <div class="card_info">
                        <div>
                            <a href="{{ url_for('recipe_details', recipe_id=recipe._id) }}">
                                <p>{{ recipe.title }}</p>
                            </a>
                            {% if recipe._id in user.favourite_recipes %}
                            <span><p>Favourited {{ recipe.favourited }} times</p><i class="fas fa-star"></i></span> 
                            {% else %}
                            <span><p>Favourited {{ recipe.favourited }} times</p><a href="{{ url_for('favourite', recipe_id=recipe._id, page='account') }}"><i class="far fa-star not_favourited highlight"></i></a></span> 
                            {% endif %}
                            <p class="date">{{ my_recipes_dates[loop.index0] }}</p>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
                        <button class="btn waves-effect waves-light hvr-sweep-to-right edit_recipe" type="submit" name="edit">Edit
                            <i class="material-icons right">edit</i>
                        </button>
                    </a>
                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}">
                        <button class="btn waves-effect waves-light hvr-sweep-to-right delete_recipe" type="submit" name="delete">Delete
                            <i class="material-icons right">delete</i>
                        </button>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col s12 favourites">
            {% for recipe in all_recipes_a %} 
            {% if recipe._id in user.favourite_recipes %}
            <div class="col s12 m6 l4 recipe">
                <a href="{{ url_for('recipe_details', recipe_id=recipe._id) }}">
                    <div class="recipe_card">
                        <div class="image">
                            <img src="{{ recipe.image }}">
                        </div>
                        <div class="card_info">
                            <div>
                                <p>{{ recipe.title }}</p>
                                <p class="date">{{ all_recipes_dates[loop.index0] }}</p>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="buttons centered">
                    <a href="{{ url_for('remove_recipe_favourite', recipe_id=recipe._id) }}">
                        <button class="btn waves-effect waves-light hvr-sweep-to-right remove_recipe" type="submit" name="remove">Remove
                            <i class="material-icons right">remove</i>
                        </button>
                    </a>
                </div>
            </div>
            {% endif %} 
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
