{% extends "base.html" %} 

{% block dropdown_content %}
<!-- Content(links) of the summary dropdown menus -->
<ul id="categories" class="dropdown-content">
    {% for category in categories %}
        <li>
            <a href="{{ url_for('summary_display', selected_category=category._id) }}">{{ category.name }}</a>
        </li>
    {% endfor %}
</ul>
<ul id="cuisines" class="dropdown-content">
    {% for cuisine in cuisines %}
        <li>
            <a href="{{ url_for('summary_display', selected_cuisine=cuisine._id) }}">{{ cuisine.name }}</a>
        </li>
    {% endfor %}
</ul>
<ul id="allergens" class="dropdown-content">
    {% for allergen in allergens %}
        <li>
            <a href="{{ url_for('summary_display', selected_allergen=allergen) }}">{{ allergen }}</a>
        </li>
    {% endfor %}
</ul>
<!-- -->
{% endblock %}

{% block big_screen %}
<!-- Navigation links for a screen larger than 992px in width. -->
<li>
    <a href="{{ url_for('index') }}" class="hvr-sweep-to-top">Home</a>
</li>
<li>
    <a href="{{ url_for('all_recipes') }}" class="hvr-sweep-to-top">All recipes</a>
</li>
<li>
    <a class="dropdown-trigger dropdown_heading hvr-sweep-to-top" 
        href="#!" 
        data-target="categories">Categories
        <i class="material-icons right">arrow_drop_down</i>
    </a>
</li>
<li>
    <a class="dropdown-trigger dropdown_heading hvr-sweep-to-top" 
        href="#!" 
        data-target="cuisines">Cuisines
        <i class="material-icons right">arrow_drop_down</i>
    </a>
</li>
<li>
    <a class="dropdown-trigger dropdown_heading hvr-sweep-to-top" 
        href="#!" 
        data-target="allergens">Allergens
        <i class="material-icons right">arrow_drop_down</i>
    </a>
</li>
<li>
    <a href="{{ url_for('logout') }}" class="hvr-sweep-to-top">Logout</a>
</li>
<!-- -->
{% endblock %} 

{% block small_screen %}
<!-- Navigation links for screens smaller than 992px in width. -->
<li>
    <a href="{{ url_for('index') }}" class="hvr-sweep-to-right">Home</a>
</li>
<li>
    <a href="{{ url_for('all_recipes') }}" class="hvr-sweep-to-right">All recipes</a>
</li>
<div class="mobile_summary">
    <div class="mobile_group one">
        <li class="mobile_group_heading one hvr-sweep-to-right">
            <a>
                <span>Categories</span>
                <i class="material-icons">arrow_drop_down</i>
            </a>
        </li>
        <ul class="mobile_sub_group one hidden">
            {% for category in categories_two %}
                <li class="mobile_sub_group_heading">
                    <a href="{{ url_for('summary_display', selected_category=category._id) }}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="mobile_group two">
        <li class="mobile_group_heading two hvr-sweep-to-right">
            <a>
                <span>Cuisines</span>
                <i class="material-icons">arrow_drop_down</i>
            </a>
        </li>
        <ul class="mobile_sub_group two hidden">
            {% for cuisine in cuisines_two %}
                <li class="mobile_sub_group_heading">
                    <a href="{{ url_for('summary_display', selected_cuisine=cuisine._id) }}">{{ cuisine.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="mobile_group three">
        <li class="mobile_group_heading three hvr-sweep-to-right">
            <a>
                <span>Allergens</span>
                <i class="material-icons">arrow_drop_down</i>
            </a>
        </li>
        <ul class="mobile_sub_group three hidden">
            {% for allergen in allergens %}
                <li class="mobile_sub_group_heading">
                    <a href="{{ url_for('summary_display', selected_allergen=allergen) }}">{{ allergen }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<li>
    <a href="{{ url_for('logout') }}" class="hvr-sweep-to-right">Logout</a>
</li>
<!-- -->
{% endblock %} 

{% block content %}
<div class="container account">
    <!-- Main content -->
    <div class="row">
        <div class="col s12 small_screen_hide">
            <!-- small_screen hide hide on screens smaller than 600px in width -->
            <div class="col s6">
                <h1 class="profile_option1 active">My recipes</h1>
            </div>
            <div class="col s6">
                <a href="{{ url_for('favourite_recipes') }}">
                    <h1 class="profile_option2">Favourites</h1>
                </a> 
            </div>
            <!-- -->
        </div>
        <div class="col s12 small_screen_show">
            <!-- display on screens larger than 600px in width -->
            <form name="options" action="{{ url_for('account') }}" method="POST">
                <div class="input-field col s12">
                    <select name="options" id="profile_options" onchange="this.form.submit()">
                        <option value="1">My recipes</option>
                        <option value="2">Favourites</option>
                    </select>
                </div>
            </form>
            <!-- -->
        </div>
        <div class="col s12 my_recipes">
            <div class="col s12">
                <!-- Button to add a new recipe -->
                <a href="{{ url_for('add_recipe') }}">
                    <button class="btn waves-effect waves-light hvr-sweep-to-right new_recipe" 
                            type="submit" 
                            name="new">Add new recipe
                        <i class="material-icons right">add</i>
                    </button>
                </a>
                <!-- -->
            </div>
            <div class="col s12 sort">
                <!-- Select for sorting displayed recipes and displays count of the recipes -->
                <form action="{{ url_for('account') }}" method="POST">
                    <div class="input-field col s12 m6 l4">
                        <select id="sort" name="sort" onchange="this.form.submit()">
                            <option selected disabled>Sort by</option>
                            <option value="newest">Newest</option>
                            <option value="oldest">Oldest</option>
                            <option value="most_popular">Most popular</option>
                            <option value="least_popular">Least popular</option>
                        </select>
                    </div>
                </form>
                <div class="col s12 count">
                    <p><strong>Own recipes - {{ recipes_count }}</strong></p>
                </div>
                <!-- -->
            </div>
            {% for recipe in recipes %} 
            <!-- Recipes display -->
                <div class="col s12 m6 l4 recipe">
                    <div class="recipe_card">
                        <div class="image">
                            <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                        </div>
                        <div class="card_info">
                            <div>
                                <a href="{{ url_for('recipe_details', recipe_id=recipe._id) }}">
                                    <p>{{ recipe.title }}</p>
                                </a>
                                {% if recipe._id in user.favourite_recipes %}
                                    <!-- 
                                    Favourite button, if recipe not favourited yet, its clickable otherwise
                                    if its already favourited the link is disabled and the start icon turns solid
                                    -->
                                    <span><p>Favourited {{ recipe.favourited }} times</p><i class="fas fa-star"></i></span> 
                                {% else %}
                                    <span>
                                        <p>Favourited {{ recipe.favourited }} times</p>
                                        <a href="{{ url_for('favourite', recipe_id=recipe._id, page='account') }}">
                                            <i class="far fa-star not_favourited highlight"></i>
                                        </a>
                                    </span> 
                                    <!-- -->
                                {% endif %}
                                
                                <p class="date">{{ recipes_dates[loop.index0] }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="buttons">
                        <!-- Buttons for editing and deleting recipes from a user's own recipes list-->
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
                            <button class="btn waves-effect waves-light hvr-sweep-to-right edit_recipe" 
                                    type="submit" 
                                    name="edit">Edit
                                <i class="material-icons right">edit</i>
                            </button>
                        </a>
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}">
                            <button class="btn waves-effect waves-light hvr-sweep-to-right delete_recipe" 
                                    type="submit" 
                                    name="delete">Delete
                                <i class="material-icons right">delete</i>
                            </button>
                        </a>
                        <!-- -->
                    </div>
                </div>
                <!-- -->
            {% endfor %}
            {% if number_of_links > 0 %}
                <div class="col s12">
                    <!-- Pagination -->
                    <ul class="pagination small">
                        <!-- For small/below 450px in width devices only -->
                        <li class="disabled arrow">
                            <a href="{{ url_for('account', sort=sort, page_number=prev_page) }}">
                                <i class="material-icons">chevron_left</i>
                            </a>
                        </li>
                        {% for i in range(1, number_of_links + 1) %}
                            <!-- 
                            Show only a number of links in the range of 1 to the total number of links.
                            Add 1 in case the total number of links is equal to 0
                            For links that aren't of the current page number, show only 1 on each side so as not
                            to exceed the width of the screen on small devices with the number of links and to keep it
                            visually tidy.
                            -->
                            {% if i == page_number %}
                                <li class="active num">
                                    <a href="{{ url_for('account', sort=sort, page_number=i) }}">{{ i }}</a>
                                </li>
                            {% elif i > page_number - 2  and i < page_number + 2 %}
                            <li class="waves-effect num">
                                <a href="{{ url_for('account', sort=sort, page_number=i) }}">{{ i }}</a>
                            </li>
                            {% endif %}
                            <!-- -->
                        {% endfor %}
                        <li class="waves-effect arrow">
                            <a href="{{ url_for('account', sort=sort, page_number=next_page) }}">
                                <i class="material-icons">chevron_right</i>
                            </a>
                        </li>
                         <!-- -->
                    </ul>
                    <ul class="pagination big">
                        <!-- For larger devices/larger than 450px in width -->
                        <li class="disabled arrow">
                            <a href="{{ url_for('account', sort=sort, page_number=prev_page) }}">
                                <i class="material-icons">chevron_left</i>
                            </a>
                        </li>
                        {% for i in range(1, number_of_links + 1) %}
                            {% if i == page_number %}
                            <!-- Show 4 links on each side of the current page one -->
                                <li class="active num">
                                    <a href="{{ url_for('account', sort=sort, page_number=i) }}">{{ i }}</a>
                                </li>
                            {% elif i > page_number - 5  and i < page_number + 5 %}
                            <li class="waves-effect num">
                                <a href="{{ url_for('account', sort=sort, page_number=i) }}">{{ i }}</a>
                            </li>
                            <!-- -->
                            {% endif %}
                        {% endfor %}
                        <li class="waves-effect arrow">
                            <a href="{{ url_for('account', sort=sort, page_number=next_page) }}">
                                <i class="material-icons">chevron_right</i>
                            </a>
                        </li>
                        <!-- -->
                    </ul>
                    <!-- -->
                </div>
            {% endif %}
        </div>
    </div>
    <!-- -->
</div>

{% endblock %}
