{% extends "base.html" %} 

{% block dropdown_content %}
<!-- Content(links) of the summary dropdown menus -->
<ul id="categories" class="dropdown-content">
    {% for category in categories_two %}
        <li>
            <a href="{{ url_for('summary_display', selected_category=category._id) }}">{{ category.name }}</a>
        </li>
    {% endfor %}
</ul>
<ul id="cuisines" class="dropdown-content">
    {% for cuisine in cuisines_two %}
        <li>
            <a href="{{ url_for('summary_display', selected_cuisine=cuisine._id) }}">{{ cuisine.name }}</a>
        </li>
    {% endfor %}
</ul>
<ul id="allergens" class="dropdown-content">
    {% for allergen in allergens_two %}
        <li>
            <a href="{{ url_for('summary_display', selected_allergen=allergen) }}">{{ allergen }}</a>
        </li>
    {% endfor %}
</ul>
<!-- -->
{% endblock %}

{% block big_screen %} 
<!-- Navigation links for a screen larger than 992px in width. -->
<li>
    <a href="{{ url_for('index') }}" class="hvr-sweep-to-top">Home</a>
</li>
<li>
    <a class="dropdown-trigger dropdown_heading hvr-sweep-to-top" 
        href="#!" 
        data-target="categories">Categories
        <i class="material-icons right">arrow_drop_down</i>
    </a>
</li>
<li>
    <a class="dropdown-trigger dropdown_heading hvr-sweep-to-top" 
        href="#!" 
        data-target="cuisines">Cuisines
        <i class="material-icons right">arrow_drop_down</i>
    </a>
</li>
<li>
    <a class="dropdown-trigger dropdown_heading hvr-sweep-to-top" 
        href="#!" 
        data-target="allergens">Allergens
        <i class="material-icons right">arrow_drop_down</i>
    </a>
</li>
{% if username %}
    <!-- Links to display if user in session/logged in or if not -->
    <li>
        <a href="{{ url_for('account') }}" class="hvr-sweep-to-top">
            <i class="fas fa-user"></i>
            <span>{{ username }}</span>
        </a>
    </li>
    <li>
        <a href="{{ url_for('logout') }}" class="hvr-sweep-to-top">Logout</a>
    </li>
{% else %}
    <li>
        <a href="{{ url_for('index') }}" class="hvr-sweep-to-top">Login</a>
    </li> 
    <li>
        <a href="{{ url_for('register_user') }}" class="hvr-sweep-to-top">Register</a>
    </li>
    <!-- -->
{% endif %} 
<!-- -->
{% endblock %} 

{% block small_screen %} 
<!-- Navigation links for screens smaller than 992px in width. -->
<li>
    <a href="{{ url_for('index') }}" class="hvr-sweep-to-right">Home</a>
</li>
<div class="mobile_summary">
    <div class="mobile_group one">
        <li class="mobile_group_heading one hvr-sweep-to-right">
            <a>
                <span>Categories</span>
                <i class="material-icons">arrow_drop_down</i>
            </a>
        </li>
        <ul class="mobile_sub_group one hidden">
            {% for category in categories_three %}
                <li class="mobile_sub_group_heading">
                    <a href="{{ url_for('summary_display', selected_category=category._id) }}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="mobile_group two">
        <li class="mobile_group_heading two hvr-sweep-to-right">
            <a>
                <span>Cuisines</span>
                <i class="material-icons">arrow_drop_down</i>
            </a>
        </li>
        <ul class="mobile_sub_group two hidden">
            {% for cuisine in cuisines_three %}
                <li class="mobile_sub_group_heading">
                    <a href="{{ url_for('summary_display', selected_cuisine=cuisine._id) }}">{{ cuisine.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="mobile_group three">
        <li class="mobile_group_heading three hvr-sweep-to-right">
            <a>
                <span>Allergens</span>
                <i class="material-icons">arrow_drop_down</i>
            </a>
        </li>
        <ul class="mobile_sub_group three hidden">
            {% for allergen in allergens_two %}
                <li class="mobile_sub_group_heading">
                    <a href="{{ url_for('summary_display', selected_allergen=allergen) }}">{{ allergen }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% if username %}
    <!-- Links to display if user in session/logged in or if not -->
    <li>
        <a href="{{ url_for('account') }}" class="hvr-sweep-to-right">
            <span>{{ username }}</span>
            <i class="fas fa-user"></i>
        </a>
    </li>
    <li>
        <a href="{{ url_for('logout') }}" class="hvr-sweep-to-right">Logout</a>
    </li>
{% else %}
    <li>
        <a href="{{ url_for('index') }}" class="hvr-sweep-to-right">Login</a>
    </li> 
    <li>
        <a href="{{ url_for('register_user') }}" class="hvr-sweep-to-right">Register</a>
    </li>
    <!-- -->
{% endif %} 
<!-- -->
{% endblock %} 

{% block content %}
<div class="container all_recipes">
    <!-- Main content -->
    <div class="row">
        <h1>Recipes</h1>
        <div class="col s12 top">
            <div class="section filters">
                <!-- Filtering-->
                <form action="{{ url_for('filter_recipes') }}" method="GET">
                    <!-- Inputs for filtering the recipes -->
                    <div class="input-field col s12 m6 l4 title">
                        <input id="title" name="title" type="text" class="validate">
                        <label for="title">Search by title</label>
                    </div>
                    <div class="input-field col s12 m6 l4 ingredient">
                        <input id="ingredient" name="ingredient" type="text" class="validate">
                        <label for="ingredient">Search by ingredient</label>
                    </div>
                    <div class="input-field col s12 m6 l4 category">
                        <select id="category" name="category">
                            <option selected disabled>Category</option>
                            {% for category in categories %}
                                <option value="{{ category.name }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-field col s12 m6 l4 cuisine">
                        <select id="cuisine" name="cuisine">
                            <option selected disabled>Cuisine</option>
                            {% for cuisine in cuisines %}
                                <option value="{{ cuisine.name }}">{{ cuisine.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-field col s12 m6 l4 allergen">
                        <select id="allergen" name="allergen">
                            <option selected disabled>Allergen</option>
                            {% for allergen in allergens %}
                                <option value="{{ allergen }}">{{ allergen }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col s12 filter">
                        <button class="btn waves-effect waves-light hvr-sweep-to-right" type="submit" name="action">Filter
                            <i class="material-icons">filter_list</i>
                        </button>
                    </div>
                    <!-- -->
                </form>
                <div class="input-field col s12 search_and_count">
                    <!-- Displays selected filter options and the count of recipes returned -->
                    <p>Search: 
                        <span>{{ title }} {{ category_name }} {{ cuisine_name }} {{ ingredient }} {{ allergen_name }}</span>
                    </p>
                    <p>Results: 
                        <span>{{ recipes_count }} out of {{ all_recipes_count }}</span>
                    </p>
                    <!-- -->
                </div>
                <!-- -->
            </div>
        </div>
        <div class="col s12 bottom">
            <!-- Sorting options and displays recipes -->
            <div class="col s12 sort">
                <!-- Sorting options -->
                <form action="{{ url_for('all_recipes',
                                        title_input=title,
                                        ingredient_input=ingredient,
                                        allergen_input=allergen,
                                        category_input=category_id,
                                        cuisine_input=cuisine_id) }}" method="POST">
                    <div class="input-field col s12 m6 l4">
                        <select id="sort" name="sort" onchange="this.form.submit()">
                            <option selected disabled>Sort by</option>
                            <option value="newest">Newest</option>
                            <option value="oldest">Oldest</option>
                            <option value="most_popular">Most popular</option>
                            <option value="least_popular">Least popular</option>
                        </select>
                    </div>
                </form>
                <!-- -->
            </div>
            {% for recipe in recipes%}
                <!-- Displays recipe  -->
                <div class="col s12 m6 l4 recipe">
                        <div class="recipe_card">
                            <div class="image">
                                <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                            </div>
                            <div class="card_info">
                                <div>
                                    <a href="{{ url_for('recipe_details', recipe_id=recipe._id) }}">
                                        <p>{{ recipe.title }}</p>
                                    </a>
                                    {% if username %}
                                        <!-- 
                                        Favourite button. Disabled for non-logged in users, if recipe not
                                        favourited yet, its clickable otherwise if its already favourited the 
                                        link is disabled and the start icon turns solid
                                        -->
                                        {% if recipe._id in user.favourite_recipes %}
                                            <span>
                                                <p>Favourited {{ recipe.favourited }} times</p>
                                                <i class="fas fa-star"></i>
                                            </span>
                                        {% else %}
                                            <span>
                                                <p>Favourited {{ recipe.favourited }} times</p>
                                                <a href="{{ url_for('favourite', recipe_id=recipe._id, page='all_recipes') }}">
                                                    <i class="far fa-star not_favourited highlight"></i>
                                                </a>
                                            </span>
                                        {% endif %}
                                    {% else %}
                                        <span>
                                            <p>Favourited {{ recipe.favourited }} times</p>
                                            <i class="far fa-star"></i>
                                        </span>
                                        <!-- -->
                                    {% endif %}
                                    <p class="date">{{ recipes_dates[loop.index0] }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% if number_of_pagination_links > 0 %}
            <div class="col s12">
                <!-- Pagination -->
                <ul class="pagination small">
                    <!-- For small/below 450px in width devices only -->
                    <li class="disabled arrow">
                        <a href="{{ url_for('all_recipes', title_input=title,
                                                        ingredient_input=ingredient,
                                                        allergen_input=allergen,
                                                        category_input=category_id,
                                                        cuisine_input=cuisine_id,
                                                        sort=sort,
                                                        page_number=prev_page) }}">
                            <i class="material-icons">chevron_left</i>
                        </a>
                    </li>
                    {% for i in range(1, number_of_pagination_links + 1) %}
                        <!-- 
                        Show only a number of links in the range of 1 to the total number of links.
                        Add 1 in case the total number of links is equal to 0
                        For links that aren't of the current page number, show only 1 on each side so as not
                        to exceed the width of the screen on small devices with the number of links and to keep it
                        visually tidy.
                        -->
                        {% if i == page_number %}
                            <li class="active num">
                                <a href="{{ url_for('all_recipes', title_input=title,
                                                                ingredient_input=ingredient,
                                                                allergen_input=allergen,
                                                                category_input=category_id,
                                                                cuisine_input=cuisine_id,
                                                                sort=sort,
                                                                page_number=i) }}">{{ i }}
                                </a>
                            </li>
                        {% elif i > page_number - 2  and i < page_number + 2 %}
                            <li class="waves-effect num">
                                <a href="{{ url_for('all_recipes', title_input=title,
                                                                ingredient_input=ingredient,
                                                                allergen_input=allergen,
                                                                category_input=category_id,
                                                                cuisine_input=cuisine_id,
                                                                sort=sort,
                                                                page_number=i) }}">{{ i }}
                                </a>
                            </li>
                        {% endif %}
                        <!-- -->
                    {% endfor %}
                    <li class="waves-effect arrow">
                        <a href="{{ url_for('all_recipes', title_input=title,
                                                        ingredient_input=ingredient,
                                                        allergen_input=allergen,
                                                        category_input=category_id,
                                                        cuisine_input=cuisine_id,
                                                        sort=sort,
                                                        page_number=next_page) }}">
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </li>
                    <!-- -->
                </ul>
                <ul class="pagination big">
                    <!-- For larger devices/larger than 450px in width -->
                    <li class="disabled arrow">
                        <a href="{{ url_for('all_recipes', title_input=title,
                                                        ingredient_input=ingredient,
                                                        allergen_input=allergen,
                                                        category_input=category_id,
                                                        cuisine_input=cuisine_id,
                                                        sort=sort,
                                                        page_number=prev_page) }}">
                            <i class="material-icons">chevron_left</i>
                        </a>
                    </li>
                    {% for i in range(1, number_of_pagination_links + 1) %}
                        <!-- Show 4 links on each side of the current page one -->
                        {% if i == page_number %}
                            <li class="active num">
                                <a href="{{ url_for('all_recipes', title_input=title,
                                                                ingredient_input=ingredient,
                                                                allergen_input=allergen,
                                                                category_input=category_id,
                                                                cuisine_input=cuisine_id,
                                                                sort=sort, page_number=i) }}">{{ i }}
                                </a>
                            </li>
                        {% elif i > page_number - 5  and i < page_number + 5 %}
                        <li class="waves-effect num">
                            <a href="{{ url_for('all_recipes', title_input=title,
                                                            ingredient_input=ingredient,
                                                            allergen_input=allergen,
                                                            category_input=category_id,
                                                            cuisine_input=cuisine_id,
                                                            sort=sort, page_number=i) }}">{{ i }}
                            </a>
                        </li>
                        {% endif %}
                        <!-- -->
                    {% endfor %}
                    <li class="waves-effect arrow">
                        <a href="{{ url_for('all_recipes', title_input=title,
                                                        ingredient_input=ingredient,
                                                        allergen_input=allergen,
                                                        category_input=category_id,
                                                        cuisine_input=cuisine_id,
                                                        sort=sort,
                                                        page_number=next_page) }}">
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </li>
                    <!-- -->
                </ul>
            </div>
        {% endif %}
    </div>
    <!-- -->
</div>
{% endblock %}
