{% extends 'base.html' %}

{% block dropdown_content %}
<!-- Content(links) of the summary dropdown menus -->
<section>
    <ul id="categories" class="dropdown-content">
        {% for category in categories_two %}
            <li>
                <a href="{{ url_for('summary_display', selected_category=category._id) }}">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <ul id="cuisines" class="dropdown-content">
        {% for cuisine in cuisines_two %}
            <li>
                <a href="{{ url_for('summary_display', selected_cuisine=cuisine._id) }}">{{ cuisine.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <ul id="allergens" class="dropdown-content">
        {% for allergen in allergens %}
            <li>
                <a href="{{ url_for('summary_display', selected_allergen=allergen) }}">{{ allergen }}</a>
            </li>
        {% endfor %}
    </ul>
</section>
<!-- -->
{% endblock %}

{% block big_screen %}
<!-- Navigation links for a screen larger than 992px in width. -->
<section>
    <li>
        <a href="{{ url_for('index') }}" class="hvr-sweep-to-top">Home</a>
    </li>
    <li>
        <a href="{{ url_for('all_recipes') }}" class="hvr-sweep-to-top">All recipes</a>
    </li>
    <li>
        <a class="dropdown-trigger dropdown_heading hvr-sweep-to-top" 
            href="#!" 
            data-target="categories">Categories
            <i class="material-icons right">arrow_drop_down</i>
        </a>
    </li>
    <li>
        <a class="dropdown-trigger dropdown_heading hvr-sweep-to-top" 
            href="#!" 
            data-target="cuisines">Cuisines
            <i class="material-icons right">arrow_drop_down</i>
        </a>
    </li>
    <li>
        <a class="dropdown-trigger dropdown_heading hvr-sweep-to-top" 
            href="#!" 
            data-target="allergens">Allergens
            <i class="material-icons right">arrow_drop_down</i>
        </a>
    </li>
    <li>
        <a href="{{ url_for('account') }}" class="hvr-sweep-to-top">
            <i class="fas fa-user"></i>
            <span>{{ username }}</span>
        </a>
    </li> 
    <li>
        <a href="{{ url_for('logout') }}" class="hvr-sweep-to-top">Logout</a>
    </li> 
</section>
<!-- -->
{% endblock %}

{% block small_screen %}
<!-- Navigation links for screens smaller than 992px in width. -->
<section>
    <li>
        <a href="{{ url_for('index') }}" class="hvr-sweep-to-right">Home</a>
    </li>
    <li>
        <a href="{{ url_for('all_recipes') }}" class="hvr-sweep-to-right">All recipes</a>
    </li>
    <section class="mobile_summary">
        <section class="mobile_group one">
            <li class="mobile_group_heading one hvr-sweep-to-right">
                <a>
                    <span>Categories</span>
                    <i class="material-icons">arrow_drop_down</i>
                </a>
            </li>
            <ul class="mobile_sub_group one hidden">
                {% for category in categories_three %}
                    <li class="mobile_sub_group_heading">
                        <a href="{{ url_for('summary_display', selected_category=category._id) }}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section class="mobile_group two">
            <li class="mobile_group_heading two hvr-sweep-to-right">
                <a>
                    <span>Cuisines</span>
                    <i class="material-icons">arrow_drop_down</i>
                </a>
            </li>
            <ul class="mobile_sub_group two hidden">
                {% for cuisine in cuisines_three %}
                    <li class="mobile_sub_group_heading">
                        <a href="{{ url_for('summary_display', selected_cuisine=cuisine._id) }}">{{ cuisine.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section class="mobile_group three">
            <li class="mobile_group_heading three hvr-sweep-to-right">
                <a>
                    <span>Allergens</span>
                    <i class="material-icons">arrow_drop_down</i>
                </a>
            </li>
            <ul class="mobile_sub_group three hidden">
                {% for allergen in allergens %}
                    <li class="mobile_sub_group_heading">
                        <a href="{{ url_for('summary_display', selected_allergen=allergen) }}">{{ allergen }}</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </section>
    <li>
        <a href="{{ url_for('account') }}" class="hvr-sweep-to-right">
            <span>{{ username }}</span>
            <i class="fas fa-user"></i>
        </a>
    </li>
    <li>
        <a href="{{ url_for('logout') }}" class="hvr-sweep-to-right">Logout</a>
    </li>
</section>
<!-- -->
{% endblock %}

{% block content %}
<section class="container add_recipe edit_recipe">
    <!-- Main content -->
    <form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST">
        <article class="row">
            <h1>Edit Recipe</h1>
            <section class="col s12 m6 left">
                <section class="section general">
                    <!-- General recipe information -->
                    <header class="input-field col s12 m11">
                        <h2>General Information</h2>
                    </header>
                    <div class="input-field col s12 m11">
                        <input id="title" 
                            name="title" 
                            type="text" 
                            class="validate"
                            placeholder="{{ recipe.title }}" 
                            value="{{ recipe.title }}" 
                            required maxlength="50">
                        <label for="title">Edit title <span>(required)</span></label>
                    </div>
                    <div class="input-field col s12 m11">

                        <textarea id="description" 
                                name="description" 
                                class="materialize-textarea" 
                                placeholder="{{ recipe.description }}" 
                                required>{{ recipe.description }}</textarea>
                        <label for="description">Edit description <span>(required)</span></label>
                    </div>
                    <div class="input-field col s12 m11">
                        <div class="col s12 img">
                            <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                        </div>
                        <div class="input-field col s12 img">
                            <input id="image" 
                                name="image" 
                                type="text" 
                                class="validate" 
                                placeholder="{{ recipe.image }}" 
                                value="{{ recipe.image }}" 
                                required>
                            <label for="image">Edit image url <span>(required)</span></label>
                        </div>
                    </div>
                    <div class="input-field col s12 m11">
                        <select id="category" name="category">
                                {% for category in categories %}
                                    {% if category.name == current_category.name %}
                                        <option value="{{ category.name }}" selected>{{ category.name }}</option>
                                    {% else %}
                                        <option value="{{ category.name }}">{{ category.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        <label for="category">Edit category</label>
                    </div>
                    <div class="input-field col s12 m11">
                        <select id="cuisine" name="cuisine">
                                {% for cuisine in cuisines %}
                                    {% if cuisine.name == current_cuisine.name %}
                                        <option value="{{ cuisine.name }}" selected>{{ cuisine.name }}</option>
                                    {% else %}
                                        <option value="{{ cuisine.name }}">{{ cuisine.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        <label for="cuisine">Edit cuisine</label>
                    </div>
                    <div class="input-field col s12 m11">
                        <select id="difficulty" name="difficulty">
                            {% for difficulty in difficulties %}
                                {% if difficulty == recipe.difficulty %}
                                    <option value="{{ difficulty }}" selected>{{ difficulty }}</option>
                                {% else %}
                                    <option value="{{ difficulty }}">{{ difficulty }}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        <label for="difficulty">Edit difficulty</label>
                    </div>
                    <div class="input-field col s12 m11">
                        <input id="prep_time" 
                            name="cook_time" 
                            type="text" 
                            class="validate" 
                            placeholder="{{ recipe.time.prep }}" 
                            value="{{ recipe.time.prep }}" 
                            required>
                        <label for="prep_time">Edit preparation time <span>(required)</span></label>
                    </div>
                    <div class="input-field col s12 m11">
                        <input id="cook_time" 
                            name="prep_time" 
                            type="text" 
                            class="validate" 
                            placeholder="{{ recipe.time.cook }}"
                            value="{{ recipe.time.cook }}">
                        <label for="cook_time">Edit cooking time</label>
                    </div>
                    <div class="input-field col s12 m11">
                        <p class="range-field">
                            <label for="servings" id="range_label">Edit number of servings 
                                <span>(current - {{ recipe.servings }})</span>
                            </label>
                            <input class="lol" type="range" id="servings" name="servings" min="0" max="20"/>
                        </p>
                    </div>
                    <!-- -->
                </section>
                <section class="section nutrition">
                    <!-- Nutritional information -->
                    <header class="input-field col s12 m11">
                        <h2>Nutritional Information</h2>
                    </header>
                    <div class="input-field col s6 m4">
                        <input id="calories" 
                            name="calories" 
                            type="text" 
                            class="validate" 
                            placeholder="{{ recipe.nutritional.calories }}" 
                            value="{{ recipe.nutritional.calories }}">
                        <label>Calories</label>
                    </div>
                    <div class="input-field col s6 m4 offset-m3">
                        <input id="fat" 
                            name="fat" type="text" 
                            class="validate" 
                            placeholder="{{ recipe.nutritional.fat }}" 
                            value="{{ recipe.nutritional.fat }}">
                        <label>Fat</label>
                    </div>
                    <div class="input-field col s6 m4">
                        <input id="saturates" 
                            name="saturates" type="text" 
                            class="validate" 
                            placeholder="{{ recipe.nutritional.saturates }}"
                            value="{{ recipe.nutritional.saturates }}">
                        <label>Saturates</label>
                    </div>
                    <div class="input-field col s6 m4 offset-m3">
                        <input id="carbs"
                            name="carbs" type="text" 
                            class="validate"
                            placeholder="{{ recipe.nutritional.carbs }}"
                            value="{{ recipe.nutritional.carbs }}">
                        <label>Carbs</label>
                    </div>
                    <div class="input-field col s6 m4">
                        <input id="sugars"
                            name="sugars"
                            type="text" 
                            class="validate"
                            placeholder="{{ recipe.nutritional.sugars }}"
                            value="{{ recipe.nutritional.sugars }}">
                        <label>Sugars</label>
                    </div>
                    <div class="input-field col s6 m4 offset-m3">
                        <input id="salt" 
                            name="salt" 
                            type="text" 
                            class="validate" 
                            placeholder="{{ recipe.nutritional.salt }}" 
                            value="{{ recipe.nutritional.salt }}">
                        <label>Salt</label>
                    </div>
                    <div class="input-field col s6 m4">
                        <input id="fibre"
                            name="fibre" 
                            type="text" 
                            class="validate" 
                            placeholder="{{ recipe.nutritional.fibre }}"
                            value="{{ recipe.nutritional.fibre }}">
                        <label>Fibre</label>
                    </div>
                    <div class="input-field col s6 m4 offset-m3">
                        <input id="protein" 
                            name="protein" 
                            type="text" 
                            class="validate" 
                            placeholder="{{ recipe.nutritional.protein }}" 
                            value="{{ recipe.nutritional.protein }}">
                        <label>Protein</label>
                    </div>
                    <!-- -->
                </section>
                <section class="section allergens">
                    <!-- Allergen information -->
                    <header class="input-field col s12 m11">
                        <h2>Allergen Information</h2>
                    </header>
                    <div class="input-field col s6">
                        <p>
                            <label>
                                {% if "dairy" in recipe.allergens %}
                                    <input name="allergen" value="dairy" type="checkbox" checked/>
                                {% else %}
                                    <input name="allergen" value="dairy" type="checkbox" />
                                {% endif %}
                                <span>Dairy</span>
                            </label>
                        </p>
                    </div>
                    <div class="input-field col s6">
                        <p>
                            <label>
                                {% if "eggs" in recipe.allergens %}
                                    <input name="allergen" value="eggs" type="checkbox" checked/>
                                {% else %}
                                    <input name="allergen" value="eggs" type="checkbox" />
                                {% endif %}
                                <span>Eggs</span>
                            </label>
                        </p>
                    </div>
                    <div class="input-field col s6">
                        <p>
                            <label>
                                {% if "peanuts" in recipe.allergens %}
                                    <input name="allergen" value="peanuts" type="checkbox" checked/>
                                {% else %}
                                    <input name="allergen" value="peanuts" type="checkbox" />
                                {% endif %}
                                <span>Peanuts</span>
                            </label>
                        </p>
                    </div>
                    <div class="input-field col s6">
                        <p>
                            <label>
                                {% if "fish" in recipe.allergens %}
                                    <input name="allergen" value="fish" type="checkbox" checked/>
                                {% else %}
                                    <input name="allergen" value="fish" type="checkbox" />
                                {% endif %}
                                <span>Fish</span>
                            </label>
                        </p>
                    </div>
                    <div class="input-field col s6">
                        <p>
                            <label>
                                {% if "shellfish" in recipe.allergens %}
                                    <input name="allergen" value="shellfish" type="checkbox" checked/>
                                {% else %}
                                    <input name="allergen" value="shellfish" type="checkbox" />
                                {% endif %}
                                <span>Shellfish</span>
                            </label>
                        </p>
                    </div>
                    <div class="input-field col s6">
                        <p>
                            <label>
                                {% if "soy" in recipe.allergens %}
                                    <input name="allergen" value="soy" type="checkbox" checked/>
                                {% else %}
                                    <input name="allergen" value="soy" type="checkbox" />
                                {% endif %}
                                <span>Soy</span>
                            </label>
                        </p>
                    </div>
                    <div class="input-field col s6">
                        <p>
                            <label>
                                {% if "wheat" in recipe.allergens %}
                                    <input name="allergen" value="wheat" type="checkbox" checked/>
                                {% else %}
                                    <input name="allergen" value="wheat" type="checkbox" />
                                {% endif %}
                                <span>Wheat</span>
                            </label>
                        </p>
                    </div>
                    <div class="input-field col s6">
                        <p>
                            <label>
                                {% if "tree nuts" in recipe.allergens %}
                                    <input name="allergen" value="tree nuts" type="checkbox" checked/>
                                {% else %}
                                    <input name="allergen" value="tree nuts" type="checkbox" />
                                {% endif %}
                                <span>Tree nuts</span>
                            </label>
                        </p>
                    </div>
                    <!-- -->
                </section>
                <!-- -->
            </section>
            <section class="col s12 m6 right">
                <!-- Includes ingredients and instructions information-->
                <section class="section ingredients">
                    <!-- Ingredient information -->
                    <header class="input-field col s12 m11 offset-m1">
                        <h2>Edit Ingredients</h2>
                    </header>
                    {% for ingredient in recipe.ingredients %}
                        <!-- Set the first 2 ingredients as required -->
                        {% if loop.index == 1 or loop.index == 2 %}
                            <div class="input-field col s12 m11 offset-m1">
                                <textarea id="ingredient_1" 
                                        name="ingredient" 
                                        class="materialize-textarea"
                                        placeholder="{{ ingredient }}"
                                        required>{{ ingredient }}</textarea>
                            </div>
                        {% else %}
                            <div class="input-field col s12 m11 offset-m1 another">
                                <textarea id="ingredient_1"
                                        name="ingredient" 
                                        class="materialize-textarea" 
                                        placeholder="{{ ingredient }}">{{ ingredient }}</textarea>
                            </div>
                        {% endif %}
                        <!-- -->
                    {% endfor %}
                    <!-- -->
                </section>
                <aside class="section ingredients_controls">
                    <!-- Buttons for adding more ingredient textarea elements and removing the last one -->
                    <div class="col s12 m11 offset-m1">
                        <a class="btn-floating btn-small waves-effect waves-light add_ingredient tooltipped" 
                            data-position="bottom" 
                            data-tooltip="Add another">
                            <i class="material-icons add">add</i>
                        </a>
                        <a class="btn-floating btn-small waves-effect waves-light remove_ingredient tooltipped" 
                            data-position="bottom" 
                            data-tooltip="Remove last">
                            <i class="material-icons remove">remove</i>
                        </a>
                    </div>
                    <!-- -->
                </aside>
                <section class="section instructions">
                    <!-- Instructions information-->
                    <header class="input-field col s12 m11 offset-m1">
                        <h2>Edit instructions</h2>
                    </header>
                    {% for instruction in recipe.instructions %}
                        <!-- Set the first 2 instructions as required -->
                        {% if loop.index == 1 or loop.index == 2 %}
                            <div class="input-field col s12 m11 offset-m1">
                                <textarea id="instruction_1" 
                                        name="instruction" 
                                        class="materialize-textarea" 
                                        placeholder="{{ instruction }}" 
                                        required>{{ instruction }}</textarea>
                            </div>
                        {% else %}
                            <div class="input-field col s12 m11 offset-m1 another">
                                <textarea id="instruction_1" 
                                        name="instruction" 
                                        class="materialize-textarea" 
                                        placeholder="{{ instruction }}" >{{ instruction }}</textarea>
                            </div>
                        {% endif %}
                        <!-- -->
                    {% endfor %}
                    <!-- -->
                </section>
                <aside class="section instructions_controls">
                    <!-- Buttons for adding more instruction textarea elements or removing the last one -->
                    <div class="col s12 m11 offset-m1">
                        <a class="btn-floating btn-small waves-effect waves-light add_instruction tooltipped" 
                            data-position="bottom" 
                            data-tooltip="Add another">
                            <i class="material-icons add">add</i>
                        </a>
                        <a class="btn-floating btn-small waves-effect waves-light remove_instruction tooltipped" 
                            data-position="bottom" 
                            data-tooltip="Remove last">
                            <i class="material-icons remove">remove</i>
                        </a>
                    </div>
                    <!-- -->
                </aside>
            </div>
        </article>
        <aside class="col s12 submit_recipe">
            <!-- Button to submit the form -->
            <button class="btn waves-effect waves-light hvr-sweep-to-right" 
                    type="submit" 
                    name="action">Edit recipe
                <i class="material-icons right">send</i>
            </button>
            <!-- -->
        </aside>
    </form>
</section>
{% endblock %}
