{% extends 'base.html' %}

{% block account %} 
{% if username %}
    <li><a href="{{ url_for('index') }}" class="hvr-sweep-to-top">Home</a></li>
    <li><a href="{{ url_for('account') }}" class="hvr-sweep-to-top"><i class="fas fa-user"></i><span>{{ username }}</span></a></li> 
    <li><a href="{{ url_for('logout') }}" class="hvr-sweep-to-top">Logout</a></li> 
{% else %}
    <li><a href="{{ url_for('index') }}" class="hvr-sweep-to-top">Login</a></li> 
    <li><a href="{{ url_for('register_user') }}" class="hvr-sweep-to-top">Register an account</a></li> 
{% endif %}
{% endblock %}

{% block mobile_account %}
{% if username %}
    <li><a href="{{ url_for('index') }}" class="hvr-sweep-to-right">Home</a></li>
    <li><a href="{{ url_for('account') }}" class="hvr-sweep-to-right"><span>{{ username }}</span><i class="fas fa-user"></i></a></li>
    <li><a href="{{ url_for('logout') }}" class="hvr-sweep-to-right">Logout</a></li>
{% else %}
    <li><a href="{{ url_for('index') }}" class="hvr-sweep-to-right">Login</a></li> 
    <li><a href="{{ url_for('register_user') }}" class="hvr-sweep-to-right">Register an account</a></li> 
{% endif %}
{% endblock %}

{% block content %}
<div class="container add_recipe edit_recipe">
    <form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST">
        <div class="row">
            <h1>Edit Recipe {{ recipe._id }}</h1>
            <div class="col s12 m6 left">
                <div class="section general">
                    <div class="input-field col s12 m11">
                        <h2>General Information</h2>
                    </div>
                    <div class="input-field col s12 m11">
                        <input id="title" name="title" type="text" class="validate" placeholder="{{ recipe.title }}" value="{{ recipe.title }}" required maxlength="50">
                        <label for="title">Edit title <span>(required)</span></label>
                    </div>
                    <div class="input-field col s12 m11">

                        <textarea id="description" name="description" class="materialize-textarea" placeholder="{{ recipe.description }}" required>{{ recipe.description }}</textarea>
                        <label for="description">Edit description <span>(required)</span></label>
                    </div>
                    <div class="input-field col s12 m11">
                        <div class="col s12 img">
                            <img src="{{ recipe.image }}">
                        </div>
                        <div class="input-field col s12 img">
                            <input id="image" name="image" type="text" class="validate" placeholder="{{ recipe.image }}" value="{{ recipe.image }}" required>
                            <label for="image">Edit image url <span>(required)</span></label>
                        </div>
                    </div>
                    <div class="input-field col s12 m11">
                        <select id="category" name="category">
                                {% for category in categories %}
                                    {% if category.name == current_category.name %}
                                    <option value="{{ category.name }}" selected>{{ category.name }}</option>
                                    {% else %}
                                    <option value="{{ category.name }}">{{ category.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        <label for="category">Edit category</label>
                    </div>
                    <div class="input-field col s12 m11">
                        <select id="cuisine" name="cuisine">
                                {% for cuisine in cuisines %}
                                    {% if cuisine.name == current_cuisine.name %}
                                    <option value="{{ cuisine.name }}" selected>{{ cuisine.name }}</option>
                                    {% else %}
                                    <option value="{{ cuisine.name }}">{{ cuisine.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        <label for="cuisine">Edit cuisine</label>
                    </div>
                    <div class="input-field col s12 m11">
                        <select id="difficulty" name="difficulty">
                            {% for difficulty in difficulties %}
                                {% if difficulty == recipe.difficulty %}
                                <option value="{{ difficulty }}" selected>{{ difficulty }}</option>
                                {% else %}
                                <option value="{{ difficulty }}">{{ difficulty }}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        <label for="difficulty">Edit difficulty</label>
                    </div>
                    <div class="input-field col s12 m11">
                        <input id="prep_time" name="cook_time" type="text" class="validate" placeholder="{{ recipe.time.prep }}" value="{{ recipe.time.prep }}" required>
                        <label for="prep_time">Edit preparation time <span>(required)</span></label>
                    </div>
                    <div class="input-field col s12 m11">
                        <input id="cook_time" name="prep_time" type="text" class="validate" placeholder="{{ recipe.time.cook }}" value="{{ recipe.time.cook }}">
                        <label for="cook_time">Edit cooking time</label>
                    </div>
                    <div class="input-field col s12 m11">
                        <p class="range-field">
                            <label for="servings" id="range_label">Edit number of servings <span>(current - {{ recipe.servings }})</span></label>
                            <input class="lol" type="range" id="servings" name="servings" min="0" max="20"/>
                        </p>
                    </div>
                </div>
                <div class="section nutrition">
                    <div class="input-field col s12 m11">
                        <h2>Nutritional Information</h2>
                    </div>
                    <div class="input-field col s6 m4">
                        <input id="calories" name="calories" type="text" class="validate" placeholder="{{ recipe.nutritional.calories }}" value="{{ recipe.nutritional.calories }}">
                        <label>Calories</label>
                    </div>
                    <div class="input-field col s6 m4 offset-m3">
                        <input id="fat" name="fat" type="text" class="validate" placeholder="{{ recipe.nutritional.fat }}" value="{{ recipe.nutritional.fat }}">
                        <label>Fat</label>
                    </div>
                    <div class="input-field col s6 m4">
                        <input id="saturates" name="saturates" type="text" class="validate" placeholder="{{ recipe.nutritional.saturates }}" value="{{ recipe.nutritional.saturates }}">
                        <label>Saturates</label>
                    </div>
                    <div class="input-field col s6 m4 offset-m3">
                        <input id="carbs" name="carbs" type="text" class="validate" placeholder="{{ recipe.nutritional.carbs }}" value="{{ recipe.nutritional.carbs }}">
                        <label>Carbs</label>
                    </div>
                    <div class="input-field col s6 m4">
                        <input id="sugars" name="sugars" type="text" class="validate" placeholder="{{ recipe.nutritional.sugars }}" value="{{ recipe.nutritional.sugars }}">
                        <label>Sugars</label>
                    </div>
                    <div class="input-field col s6 m4 offset-m3">
                        <input id="salt" name="salt" type="text" class="validate" placeholder="{{ recipe.nutritional.salt }}" value="{{ recipe.nutritional.salt }}">
                        <label>Salt</label>
                    </div>
                    <div class="input-field col s6 m4">
                        <input id="fibre" name="fibre" type="text" class="validate" placeholder="{{ recipe.nutritional.fibre }}" value="{{ recipe.nutritional.fibre }}">
                        <label>Fibre</label>
                    </div>
                    <div class="input-field col s6 m4 offset-m3">
                        <input id="protein" name="protein" type="text" class="validate" placeholder="{{ recipe.nutritional.protein }}" value="{{ recipe.nutritional.protein }}">
                        <label>Protein</label>
                    </div>
                </div>
                <div class="section allergens">
                    <div class="input-field col s12 m11">
                        <h2>Allergen Information</h2>
                    </div>
                    <div class="input-field col s6">
                        <p>
                            <label>
                                {% if "dairy" in recipe.allergens %}
                                <input name="allergen" value="dairy" type="checkbox" checked/>
                                {% else %}
                                <input name="allergen" value="dairy" type="checkbox" />
                                {% endif %}
                                <span>Dairy</span>
                            </label>
                        </p>
                    </div>
                    <div class="input-field col s6">
                        <p>
                            <label>
                                {% if "eggs" in recipe.allergens %}
                                <input name="allergen" value="eggs" type="checkbox" checked/>
                                {% else %}
                                <input name="allergen" value="eggs" type="checkbox" />
                                {% endif %}
                                <span>Eggs</span>
                            </label>
                        </p>
                    </div>
                    <div class="input-field col s6">
                        <p>
                            <label>
                                {% if "peanuts" in recipe.allergens %}
                                <input name="allergen" value="peanuts" type="checkbox" checked/>
                                {% else %}
                                <input name="allergen" value="peanuts" type="checkbox" />
                                {% endif %}
                                <span>Peanuts</span>
                            </label>
                        </p>
                    </div>
                    <div class="input-field col s6">
                        <p>
                            <label>
                                {% if "fish" in recipe.allergens %}
                                <input name="allergen" value="fish" type="checkbox" checked/>
                                {% else %}
                                <input name="allergen" value="fish" type="checkbox" />
                                {% endif %}
                                <span>Fish</span>
                            </label>
                        </p>
                    </div>
                    <div class="input-field col s6">
                        <p>
                            <label>
                                {% if "shellfish" in recipe.allergens %}
                                <input name="allergen" value="shellfish" type="checkbox" checked/>
                                {% else %}
                                <input name="allergen" value="shellfish" type="checkbox" />
                                {% endif %}
                                <span>Shellfish</span>
                            </label>
                        </p>
                    </div>
                    <div class="input-field col s6">
                        <p>
                            <label>
                                {% if "soy" in recipe.allergens %}
                                <input name="allergen" value="soy" type="checkbox" checked/>
                                {% else %}
                                <input name="allergen" value="soy" type="checkbox" />
                                {% endif %}
                                <span>Soy</span>
                            </label>
                        </p>
                    </div>
                    <div class="input-field col s6">
                        <p>
                            <label>
                                {% if "wheat" in recipe.allergens %}
                                <input name="allergen" value="wheat" type="checkbox" checked/>
                                {% else %}
                                <input name="allergen" value="wheat" type="checkbox" />
                                {% endif %}
                                <span>Wheat</span>
                            </label>
                        </p>
                    </div>
                    <div class="input-field col s6">
                        <p>
                            <label>
                                {% if "tree nuts" in recipe.allergens %}
                                <input name="allergen" value="tree nuts" type="checkbox" checked/>
                                {% else %}
                                <input name="allergen" value="tree nuts" type="checkbox" />
                                {% endif %}
                                <span>Tree nuts</span>
                            </label>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 right">
                <div class="section ingredients">
                    <div class="input-field col s12 m11 offset-m1">
                        <h2>Edit Ingredients</h2>
                    </div>
                    {% for ingredient in recipe.ingredients %}
                    {% if loop.index == 1 or loop.index == 2 %}
                    <div class="input-field col s12 m11 offset-m1">
                        <textarea id="ingredient_1" name="ingredient" class="materialize-textarea" placeholder="{{ ingredient }}" required>{{ ingredient }}</textarea>
                    </div>
                    {% else %}
                    <div class="input-field col s12 m11 offset-m1">
                        <textarea id="ingredient_1" name="ingredient" class="materialize-textarea" placeholder="{{ ingredient }}">{{ ingredient }}</textarea>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="section ingredients_controls">
                    <div class="col s12 m11 offset-m1">
                        <a class="btn-floating btn-small waves-effect waves-light add_ingredient tooltipped" data-position="bottom" data-tooltip="Add another"><i class="material-icons add">add</i></a>
                        <a class="btn-floating btn-small waves-effect waves-light remove_ingredient tooltipped" data-position="bottom" data-tooltip="Remove last"><i class="material-icons remove">remove</i></a>
                    </div>
                </div>
                <div class="section instructions">
                    <div class="input-field col s12 m11 offset-m1">
                        <h2>Edit instructions</h2>
                    </div>
                    {% for instruction in recipe.instructions %}
                    {% if loop.index == 1 or loop.index == 2 %}
                    <div class="input-field col s12 m11 offset-m1">
                        <textarea id="instruction_1" name="instruction" class="materialize-textarea" placeholder="{{ instruction }}" required>{{ instruction }}</textarea>
                    </div>
                    {% else %}
                    <div class="input-field col s12 m11 offset-m1">
                        <textarea id="instruction_1" name="instruction" class="materialize-textarea" placeholder="{{ instruction }}" >{{ instruction }}</textarea>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="section instructions_controls">
                    <div class="col s12 m11 offset-m1">
                        <a class="btn-floating btn-small waves-effect waves-light add_instruction tooltipped" data-position="bottom" data-tooltip="Add another"><i class="material-icons add">add</i></a>
                        <a class="btn-floating btn-small waves-effect waves-light remove_instruction tooltipped" data-position="bottom" data-tooltip="Remove last"><i class="material-icons remove">remove</i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 submit_recipe">
            <button class="btn waves-effect waves-light hvr-sweep-to-right" type="submit" name="action">Edit recipe
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>
{% endblock %}
