{% extends "base.html" %} {% block content %}
<div class="background"></div>
<div class="row login_box">
    <div class="col s12 m6 offset-m3 l4 offset-l4">
        <form>
            <div>
                <h5>Login to start sharing recipes</h5>
                <p>Don't have an account yet? <a href="" class="hvr-forward">register now!</a></p>
                <input placeholder="Username" id="first_name" type="text" class="validate" required>
                <input placeholder="Password" id="first_name" type="text" class="validate" required>
            </div>
            <button class="btn waves-effect waves-light hvr-sweep-to-right" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>

    </div>
</div>
<div class="container main_content">
    <div class="row small_screen_hide">
        <div class="col s4 option">
            <h3 class="option1 active">Most Popular</h3>
        </div>
        <div class="col s4 option">
            <h3 class="option2">Recent</h3>
        </div>
        <div class="col s4 option">
            <h3 class="option3">Least Popular</h3>
        </div>
    </div>
    <div class="row small_screen_show">
        <div class="input-field col s12">
            <select id="options">
                <option value="1">Popular</option>
                <option value="2">Recent</option>
                <option value="3">Least Popular</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="carousel carousel-slider center popular">
            <div class="left">
                <a href="Previo" class="movePrevCarousel middle-indicator-text content-indicator"><i class="material-icons left  middle-indicator-text">chevron_left</i></a>
            </div>
            <div class="right">
                <a href="Siguiente" class=" moveNextCarousel middle-indicator-text content-indicator"><i class="material-icons right middle-indicator-text">chevron_right</i></a>
            </div>
            {% for recipe in most_popular %}
            <div class="carousel-item">
                <div class="item_container">
                    <div class="item">
                        <div class="recipe_card">
                            <img src="{{ recipe.image }}">
                            <div class="card_info">
                                <a href="{{ url_for('recipe_details', recipe_id=recipe._id) }}"><p>{{ recipe.title }}</p></a>
                                <span><p>Liked {{ recipe.votes }} times</p><i class="far fa-star"></i></span>
                                <p class="date">{{ formatted_dates[loop.index0] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="carousel carousel-slider recent">
            <div class="left">
                <a href="Previo" class="movePrevCarousel middle-indicator-text content-indicator"><i class="material-icons left  middle-indicator-text">chevron_left</i></a>
            </div>
            <div class="right">
                <a href="Siguiente" class=" moveNextCarousel middle-indicator-text content-indicator"><i class="material-icons right middle-indicator-text">chevron_right</i></a>
            </div>
            {% for recipe in recent %}
            <div class="carousel-item" href="#one!">
                <div class="item_container">
                    <div class="item">
                        <div class="recipe_card">
                            <img src="{{ recipe.image }}">
                            <div class="card_info">
                                <a href="{{ url_for('recipe_details', recipe_id=recipe._id) }}"><p>{{ recipe.title }}</p></a>
                                <span><p>Liked {{ recipe.votes }} times</p><i class="far fa-star"></i></span>
                                <p class="date">{{ formatted_dates[loop.index0] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="carousel carousel-slider least_popular">
            <div class="left">
                <a href="Previo" class="movePrevCarousel middle-indicator-text content-indicator"><i class="material-icons left  middle-indicator-text">chevron_left</i></a>
            </div>
            <div class="right">
                <a href="Siguiente" class=" moveNextCarousel middle-indicator-text content-indicator"><i class="material-icons right middle-indicator-text">chevron_right</i></a>
            </div>
            {% for recipe in least_popular %}
            <div class="carousel-item" href="#one!">
                <div class="item_container">
                    <div class="item">
                        <div class="recipe_card">
                            <img src="{{ recipe.image }}">
                            <div class="card_info">
                                <a href="{{ url_for('recipe_details', recipe_id=recipe._id) }}"><p>{{ recipe.title }}</p></a>
                                <span><p>Liked {{ recipe.votes }} times</p><a href="{{ url_for('add_vote', recipe_id=recipe._id) }}"><i class="far fa-star"></i></a></span>
                                <p class="date">{{ formatted_dates[loop.index0] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
