{% extends "base.html" %}

{% block dropdown_content %}
<!-- Content(links) of the summary dropdown menus -->
<section>
    <ul id="categories" class="dropdown-content">
        {% for category in categories %}
            <li>
                <a href="{{ url_for('summary_display', selected_category=category._id) }}">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <ul id="cuisines" class="dropdown-content">
        {% for cuisine in cuisines %}
            <li>
                <a href="{{ url_for('summary_display', selected_cuisine=cuisine._id) }}">{{ cuisine.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <ul id="allergens" class="dropdown-content">
        {% for allergen in allergens %}
            <li>
                <a href="{{ url_for('summary_display', selected_allergen=allergen) }}">{{ allergen }}</a>
            </li>
        {% endfor %}
    </ul>
</section>
<!-- -->
{% endblock %}

{% block big_screen %}
<!-- Navigation links for a screen larger than 992px in width. -->
<section>
    <li>
        <a href="{{ url_for('all_recipes') }}" class="hvr-sweep-to-top">All recipes</a>
    </li>
    <li>
        <a class="dropdown-trigger dropdown_heading hvr-sweep-to-top" 
            href="#!" 
            data-target="categories">Categories
            <i class="material-icons right">arrow_drop_down</i>
        </a>
    </li>
    <li>
        <a class="dropdown-trigger dropdown_heading hvr-sweep-to-top" 
            href="#!" 
            data-target="cuisines">Cuisines
            <i class="material-icons right">arrow_drop_down</i>
        </a>
    </li>
    <li>
        <a class="dropdown-trigger dropdown_heading hvr-sweep-to-top" 
            href="#!" 
            data-target="allergens">Allergens
            <i class="material-icons right">arrow_drop_down</i>
        </a>
    </li>
    {% if username %}
        <!-- Links to display if user in session/logged in or if not -->
        <li>
            <a href="{{ url_for('account') }}" class="hvr-sweep-to-top">
                <i class="fas fa-user"></i>
                <span>{{ username }}</span>
            </a>
        </li>
        <li>
            <a href="{{ url_for('logout') }}" class="hvr-sweep-to-top">Logout</a>
        </li>
    {% else %}
        <li>
            <a href="{{ url_for('register_user') }}" class="hvr-sweep-to-top">Register</a>
        </li>
        <!-- -->
    {% endif %}
</section>
<!-- -->
{% endblock %}

{% block small_screen %}
<!-- Navigation links for screens smaller than 992px in width. -->
<section>
    <li>
        <a href="{{ url_for('all_recipes') }}" class="hvr-sweep-to-right">All recipes</a>
    </li>
    <section class="mobile_summary">
        <section class="mobile_group one">
            <li class="mobile_group_heading one hvr-sweep-to-right">
                <a>
                    <span>Categories</span>
                    <i class="material-icons">arrow_drop_down</i>
                </a>
            </li>
            <ul class="mobile_sub_group one hidden">
                {% for category in categories_two %}
                    <li class="mobile_sub_group_heading">
                        <a href="{{ url_for('summary_display', selected_category=category._id) }}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section class="mobile_group two">
            <li class="mobile_group_heading two hvr-sweep-to-right">
                <a>
                    <span>Cuisines</span>
                    <i class="material-icons">arrow_drop_down</i>
                </a>
            </li>
            <ul class="mobile_sub_group two hidden">
                {% for cuisine in cuisines_two %}
                    <li class="mobile_sub_group_heading">
                        <a href="{{ url_for('summary_display', selected_cuisine=cuisine._id) }}">{{ cuisine.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section class="mobile_group three">
            <li class="mobile_group_heading three hvr-sweep-to-right">
                <a>
                    <span>Allergens</span>
                    <i class="material-icons">arrow_drop_down</i>
                </a>
            </li>
            <ul class="mobile_sub_group three hidden">
                {% for allergen in allergens %}
                    <li class="mobile_sub_group_heading">
                        <a href="{{ url_for('summary_display', selected_allergen=allergen) }}">{{ allergen }}</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </section>
    {% if username %}
        <!-- Links to display if user in session/logged in or if not -->
        <li>
            <a href="{{ url_for('account') }}" class="hvr-sweep-to-right">
                <span>{{ username }}</span>
                <i class="fas fa-user"></i>
            </a>
        </li>
        <li>
            <a href="{{ url_for('logout') }}" class="hvr-sweep-to-right">Logout</a>
        </li>
    {% else %}
        <li>
            <a href="{{ url_for('register_user') }}" class="hvr-sweep-to-right">Register</a>
        </li>
        <!-- -->
    {% endif %}
</section>
<!-- -->
{% endblock %}

{% block content %}
<section class="background">
    <!-- Background and the login form -->
    <!-- Overlay to darken the background image and make the form stand out more -->
    <aside class="overlay"></aside>
    <!-- -->
    <article class="row banner">
        <!-- Login form and welcome message if user logged in -->
        {% if username %}
            <header class="col welcome">
                <h5>Welcome to the Online <span>Cookbook</span> {{ username }}</h5>
            </header>
        {% else %}
            <section class="col login">
                <form action="{{ url_for('login') }}" method="POST">
                    <div>
                        <h5>Login to start sharing recipes</h5>
                        <p>Don't have an account yet? <a href="{{ url_for('register_user') }}" class="hvr-forward">Register now!</a></p>
                        {% if username_error == "True" %}
                            <!-- Errors to display in the event an account with given username doesn't exist or the password is incorrect -->
                            <p class="error">Account with this username does not exist</p>
                        {% elif password_error == "True" %}
                            <p class="error">incorrect password, try again</p>
                            <!-- -->
                        {% endif %}
                        <input placeholder="Username" 
                            id="username" 
                            name="username" 
                            type="text" 
                            class="validate" 
                            required>
                        <input placeholder="Password" 
                            id="password" 
                            name="password" 
                            type="password" 
                            class="validate" 
                            required>
                    </div>
                    <button class="btn waves-effect waves-light hvr-sweep-to-right" 
                            type="submit" 
                            name="action">Login
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </section>
        {% endif %}
        <!-- -->
    </article>
    <!-- -->
</section>

<article class="container main_content">
    <!-- Main content -->
    <section class="row small_screen_hide">
        <!-- Headings/selectable options to show on screens larger than 600px in width -->
        <header class="col s4 option">
            <h3 class="carousel_option1 active">Most Popular</h3>
        </header>
        <header class="col s4 option">
            <h3 class="carousel_option2">Recent</h3>
        </header>
        <header class="col s4 option">
            <h3 class="carousel_option3">Oldest</h3>
        </header>
        <!-- -->
    </section>
    <section class="row small_screen_show">
        <!-- Select options to show on screens smaller than 600px in width -->
        <header class="input-field col s12">
            <select id="carousel_options">
                <option value="1">Popular</option>
                <option value="2">Recent</option>
                <option value="3">Oldest</option>
            </select>
        </header>
        <!-- -->
    </section>
    <section class="row">
        <!-- 3 materialize carousels showing 10 recipes each -->
        <section class="carousel carousel-slider center popular">
            <!-- Carousel for the popular recipes -->
            <aside class="left">
                <!-- Arrows/controls for the carousel of popular recipes, display previous or next recipe -->
                <a href="prev" class="movePrevCarousel middle-indicator-text content-indicator">
                    <i class="material-icons left  middle-indicator-text">chevron_left</i>
                </a>
            </aside>
            <aside class="right">
                <a href="next" class=" moveNextCarousel middle-indicator-text content-indicator">
                    <i class="material-icons right middle-indicator-text">chevron_right</i>
                </a>
                <!-- -->
            </aside>
            {% for recipe in most_popular %}
                <!-- Carousel item containing recipes information -->
                <section class="carousel-item">
                    <div class="item_container">
                        <div class="item">
                            <article class="recipe_card">
                                <a href="{{ url_for('recipe_details', recipe_id=recipe._id) }}">
                                    <img src="{{ recipe.image }}" alt="{{ recipe.title }}">    
                                </a>
                                <section class="card_info">
                                    <a href="{{ url_for('recipe_details', recipe_id=recipe._id) }}">
                                        <p>{{ recipe.title }}</p>
                                    </a>
                                    {% if username %}
                                        <!-- 
                                        Favourite button. Disabled for non-logged in users, if recipe not
                                        favourited yet, its clickable otherwise if its already favourited the 
                                        link is disabled and the start icon turns solid
                                        -->
                                        {% if recipe._id in user.favourite_recipes %}
                                            <span>
                                                <p>Favourited {{ recipe.favourited }} times</p>
                                                <i class="fas fa-star"></i>
                                            </span>
                                        {% else %}
                                            <span>
                                                <p>Favourited {{ recipe.favourited }} times</p>
                                                <a href="{{ url_for('favourite', recipe_id=recipe._id, page='index') }}">
                                                    <i class="far fa-star not_favourited highlight"></i>
                                                </a>
                                            </span>
                                        {% endif %}
                                    {% else %}
                                        <span>
                                            <p>Favourited {{ recipe.favourited }} times</p>
                                            <i class="far fa-star"></i>
                                        </span>
                                        <!-- -->
                                    {% endif %}
                                    <p class="date">{{ popular_dates[loop.index0] }}</p>
                                </section>
                            </article>
                        </div>
                    </div>
                    <!-- -->
                </section>
            {% endfor %}
            <!-- -->
        </section>
        <section class="carousel carousel-slider recent">
            <!-- Carousel for recently added recipes -->
            <aside class="left">
                <!-- Arrows/controls for the carousel of recent recipes, display previous or next recipe -->
                <a href="prev" class="movePrevCarousel middle-indicator-text content-indicator">
                    <i class="material-icons left  middle-indicator-text">chevron_left</i>
                </a>
            </aside>
            <aside class="right">
                <a href="next" class=" moveNextCarousel middle-indicator-text content-indicator">
                    <i class="material-icons right middle-indicator-text">chevron_right</i>
                </a>
                <!-- -->
            </aside>
            {% for recipe in recent %}
                <!-- Carousel item containing recipes information -->
                <section class="carousel-item" href="#one!">
                    <div class="item_container">
                        <div class="item">
                            <article class="recipe_card">
                                <a href="{{ url_for('recipe_details', recipe_id=recipe._id) }}">
                                    <img src="{{ recipe.image }}" alt="{{ recipe.title }}">    
                                </a>
                                <section class="card_info">
                                    <a href="{{ url_for('recipe_details', recipe_id=recipe._id) }}">
                                        <p>{{ recipe.title }}</p>
                                    </a>
                                    {% if username %}
                                        <!-- 
                                        Favourite button. Disabled for non-logged in users, if recipe not
                                        favourited yet, its clickable otherwise if its already favourited the 
                                        link is disabled and the start icon turns solid
                                        -->
                                        {% if recipe._id in user.favourite_recipes %}
                                            
                                            <span>
                                                <p>Favourited {{ recipe.favourited }} times</p>
                                                <i class="fas fa-star"></i>
                                            </span>
                                        {% else %}
                                            <span>
                                                <p>Favourited {{ recipe.favourited }} times</p>
                                                <a href="{{ url_for('favourite', recipe_id=recipe._id, page='index') }}">
                                                    <i class="far fa-star not_favourited highlight"></i>
                                                </a>
                                            </span>
                                        {% endif %}
                                    {% else %}
                                        <span>
                                            <p>Favourited {{ recipe.favourited }} times</p>
                                            <i class="far fa-star"></i>
                                        </span>
                                        <!-- -->
                                    {% endif %}
                                    <p class="date">{{ recent_dates[loop.index0] }}</p>
                                </section>
                            </article>
                        </div>
                    </div>
                </section>
                <!---->
            {% endfor %}
            <!---->
        </section>
        <section class="carousel carousel-slider oldest">
            <!-- Carousel for oldest recipes -->
            <aside class="left">
                <!-- Arrows/controls for the carousel of recent recipes, display previous or next recipe -->
                <a href="prev" class="movePrevCarousel middle-indicator-text content-indicator">
                    <i class="material-icons left  middle-indicator-text">chevron_left</i>
                </a>
            </aside>
            <aside class="right">
                <a href="next" class=" moveNextCarousel middle-indicator-text content-indicator">
                    <i class="material-icons right middle-indicator-text">chevron_right</i>
                </a>
                <!-- -->
            </aside>
            {% for recipe in oldest %}
                <!-- Carousel item containing recipes information -->
                <section class="carousel-item" href="#one!">
                    <div class="item_container">
                        <div class="item">
                            <article class="recipe_card">
                                <a href="{{ url_for('recipe_details', recipe_id=recipe._id) }}">
                                    <img src="{{ recipe.image }}" alt="{{ recipe.title }}">    
                                </a>
                                <section class="card_info">
                                    <a href="{{ url_for('recipe_details', recipe_id=recipe._id) }}">
                                        <p>{{ recipe.title }}</p>
                                    </a>
                                    {% if username %}
                                        <!-- 
                                        Favourite button. Disabled for non-logged in users, if recipe not
                                        favourited yet, its clickable otherwise if its already favourited the 
                                        link is disabled and the start icon turns solid
                                        -->
                                        {% if recipe._id in user.favourite_recipes %}
                                            <span>
                                                <p>Favourited {{ recipe.favourited }} times</p>
                                                <i class="fas fa-star"></i>
                                            </span>
                                        {% else %}
                                            <span>
                                                <p>Favourited {{ recipe.favourited }} times</p>
                                                <a href="{{ url_for('favourite', recipe_id=recipe._id, page='index') }}">
                                                    <i class="far fa-star not_favourited highlight"></i>
                                                </a>
                                            </span>
                                        {% endif %}
                                    {% else %}
                                        <span>
                                            <p>Favourited {{ recipe.favourited }} times</p>
                                            <i class="far fa-star"></i>
                                        </span>
                                        <!-- -->
                                    {% endif %}
                                    <p class="date">{{ oldest_dates[loop.index0] }}</p>
                                </section>
                            </article>
                        </div>
                    </div>
                </section>
                <!-- -->
            {% endfor %}
            <!-- -->
        </section>
        <!-- -->
    </section>
    <!-- -->
</article>
{% endblock %}
