{% extends "base.html" %} 

{% block big_screen %} 
<li><a href="{{ url_for('index') }}" class="hvr-sweep-to-top">Home</a></li>
<li><a href="{{ url_for('all_recipes') }}" class="hvr-sweep-to-top">All recipes</a></li>
{% if username %}
    <li><a href="{{ url_for('account') }}" class="hvr-sweep-to-top"><i class="fas fa-user"></i><span>{{ username }}</span></a></li>
    <li><a href="{{ url_for('logout') }}" class="hvr-sweep-to-top">Logout</a></li>
{% else %}
    <li><a href="{{ url_for('index') }}" class="hvr-sweep-to-top">Login</a></li>
    <li><a href="{{ url_for('register_user') }}" class="hvr-sweep-to-top">Register an account</a></li>
{% endif %} 
{% endblock %} 

{% block small_screen %} 
<li><a href="{{ url_for('index') }}" class="hvr-sweep-to-right">Home</a></li>
<li><a href="{{ url_for('all_recipes') }}" class="hvr-sweep-to-right">All recipes</a></li>
{% if username %}
    <li><a href="{{ url_for('account') }}" class="hvr-sweep-to-right"><span>{{ username }}</span><i class="fas fa-user"></i></a></li>
    <li><a href="{{ url_for('logout') }}" class="hvr-sweep-to-right">Logout</a></li>
{% else %}
    <li><a href="{{ url_for('index') }}" class="hvr-sweep-to-right">Login</a></li>
    <li><a href="{{ url_for('register_user') }}" class="hvr-sweep-to-right">Register an account</a></li>
{% endif %} 
{% endblock %} 

{% block content %}
<div class="container recipe_details">
    <form action="{{ url_for('insert_recipe') }}" method="POST">
        <div class="section general_details">
            <div class="row top">
                <div class="col s12">
                    <h1>{{ recipe.title }}</h1>
                </div>
                <div class="col s12 l6 left">
                    <img src="{{ recipe.image }}">
                </div>
                <div class="col s12 l6 right">
                    <div class="col s12 author">
                        <p id="author"><strong>Author:</strong> {{ author.username }}</p>
                    </div>
                    <div class="col s12">
                        <p><strong>Date of creation:</strong> {{ creation_date }}</p>
                    </div>
                    <div class="col s12">
                        {% if recipe.description == "" %}
                        <p><em>no description</em></p>
                        {% else %}
                        <p>{{ recipe.description }}</p>
                        {% endif %}
                    </div>
                    <div class="col s12">
                        <p><strong>Cuisine:</strong> {{ cuisine.name }}</p>
                    </div>
                    <div class="col s12 time">
                        <div class="prep">
                            {% if recipe.time.prep == "" %}
                            <p><i class="fas fa-clock"></i><strong>Preparation time:</strong> none</p>
                            {% else %}
                            <p><i class="fas fa-clock"></i><strong>Preparation time:</strong> {{ recipe.time.prep }}</p>
                            {% endif %}
                        </div>
                        <div class="cook">
                            {% if recipe.time.cook == "" %}
                            <p><i class="fas fa-clock"></i><strong>Cooking time:</strong> none</p>
                            {% else %}
                            <p><i class="fas fa-clock"></i><strong>Cooking time:</strong> {{ recipe.time.cook }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col s12">
                        <p><i class="fas fa-utensils"></i><strong>Serves:</strong> {{ recipe.servings }}</p>
                    </div>
                    <div class="col s12 favourited_detail">
                        {% if username %} 
                            {% if recipe._id in user.favourite_recipes %}
                                <i class="fas  fa-star"></i>
                                <p>Favourited {{ recipe.favourited }} times</p>
                            {% else %}
                                <a href="{{ url_for('favourite', recipe_id=recipe._id, page='recipe_details') }}"><i class="far fa-star not_favourited"></i></a>
                                <p>Favourited {{ recipe.favourited }} times</p>
                            {% endif %} 
                        {% else %}
                            <i class="far fa-star"></i>
                            <p>Favourited {{ recipe.favourited }} times</p>
                        {% endif %}
                    </div>
                    <div class="col s12">
                        <p><i class="fas fa-print"></i>Print this recipe</p>
                    </div>
                </div>
            </div>
            <div class="row bottom">
                <div class="col s12 l6 left border_left">
                    <div class="col s12">
                        <h2 id="ingredients_expand">Ingredients<i class="fas fa-chevron-down"></i></h2>
                        <ul class="browser-default ingredients_list">
                            {% for ingredient in recipe.ingredients %}
                            <li><span>{{ ingredient }}</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col s12">
                        <h2 id="instructions_expand">Instructions<i class="fas fa-chevron-down"></i></h2>
                        <ol class="instructions_list">
                            {% for instruction in recipe.instructions %}
                            <li><span>{{ instruction }}</span></li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
                <div class="col s12 l6 right border_right">
                    <div class="col s12">
                        <h2 id="allergens_expand">Allergnens<i class="fas fa-chevron-down"></i></h2>
                        <ul class="browser-default ingredients_list">
                            {% if recipe.allergens|length == 0 %}
                            <span><em>No allergens</em></span> 
                            {% else %} 
                            {% for allergen in recipe.allergens %}
                            <li><span>{{ allergen }}</span></li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col s12">
                        <h2 id="nutrition_expand">Nutrition<i class="fas fa-chevron-down"></i></h2>
                        <div class="col s12 nutrition_list">
                            {% for name in nutrition_names %}
                            <div class="col s6 m4 xl3">
                                <div class="nutrition_name">
                                    <p>{{ name }}</p>
                                </div>
                                <div class="nutrition_value">
                                    {% if nutrition_values[loop.index0 ] == "" %}
                                    <p>N/A</p>
                                    {% else %}
                                    <p>{{ nutrition_values[loop.index0 ] }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
