{% extends "base.html" %} 

{% block dropdown_content %}
<!-- Content(links) of the summary dropdown menus -->
<ul id="categories" class="dropdown-content">
    {% for category in categories %}
        <li>
            <a href="{{ url_for('summary_display', selected_category=category._id) }}">{{ category.name }}</a>
        </li>
    {% endfor %}
</ul>
<ul id="cuisines" class="dropdown-content">
    {% for cuisine in cuisines %}
        <li>
            <a href="{{ url_for('summary_display', selected_cuisine=cuisine._id) }}">{{ cuisine.name }}</a>
        </li>
    {% endfor %}
</ul>
<ul id="allergens" class="dropdown-content">
    {% for allergen in allergens %}
        <li>
            <a href="{{ url_for('summary_display', selected_allergen=allergen) }}">{{ allergen }}</a>
        </li>
    {% endfor %}
</ul>
<!-- -->
{% endblock %}

{% block big_screen %}
<!-- Navigation links for a screen larger than 992px in width. -->
<li>
    <a class="dropdown-trigger dropdown_heading hvr-sweep-to-top" 
        href="#!" 
        data-target="categories">Categories
        <i class="material-icons right">arrow_drop_down</i>
    </a>
</li>
<li>
    <a class="dropdown-trigger dropdown_heading hvr-sweep-to-top" 
        href="#!" 
        data-target="cuisines">Cuisines
        <i class="material-icons right">arrow_drop_down</i>
    </a>
</li>
<li>
    <a class="dropdown-trigger dropdown_heading hvr-sweep-to-top" 
        href="#!" 
        data-target="allergens">Allergens
        <i class="material-icons right">arrow_drop_down</i>
    </a>
</li>
<li>
    <a href="{{ url_for('all_recipes') }}" class="hvr-sweep-to-top">All recipes</a>
</li>
{% if username %}
    <!-- Links to display if user in session/logged in or if not -->
    <li>
        <a href="{{ url_for('account') }}" class="hvr-sweep-to-top">
            <i class="fas fa-user"></i>
            <span>{{ username }}</span>
        </a>
    </li>
    <li>
        <a href="{{ url_for('logout') }}" class="hvr-sweep-to-top">Logout</a>
    </li>
{% else %}
    <li>
        <a href="{{ url_for('register_user') }}" class="hvr-sweep-to-top">Register</a>
    </li>
    <!-- -->
{% endif %}
<!-- -->
{% endblock %}

{% block small_screen %}
<!-- Navigation links for screens smaller than 992px in width. -->
<li>
    <a href="{{ url_for('index') }}" class="hvr-sweep-to-right">Home</a>
</li>
<li>
    <a href="{{ url_for('all_recipes') }}" class="hvr-sweep-to-right">All recipes</a>
</li>
<div class="mobile_summary">
    <div class="mobile_group one">
        <li class="mobile_group_heading one">
            <a class="hvr-sweep-to-right">
                <span>Categories</span>
                <i class="material-icons">arrow_drop_down</i>
            </a>
        </li>
        <ul class="mobile_sub_group one hidden">
            {% for category in categories_two %}
                <li class="mobile_sub_group_heading hvr-sweep-to-right">
                    <a href="{{ url_for('summary_display', selected_category=category._id) }}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="mobile_group two">
        <li class="mobile_group_heading two">
            <a class="hvr-sweep-to-right">
                <span>Cuisines</span>
                <i class="material-icons">arrow_drop_down</i>
            </a>
        </li>
        <ul class="mobile_sub_group two hidden">
            {% for cuisine in cuisines_two %}
                <li class="mobile_sub_group_heading hvr-sweep-to-right">
                    <a href="{{ url_for('summary_display', selected_cuisine=cuisine._id) }}">{{ cuisine.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="mobile_group three">
        <li class="mobile_group_heading three">
            <a class="hvr-sweep-to-right">
                <span>Allergens</span>
                <i class="material-icons">arrow_drop_down</i>
            </a>
        </li>
        <ul class="mobile_sub_group three hidden">
            {% for allergen in allergens %}
                <li class="mobile_sub_group_heading hvr-sweep-to-right">
                    <a href="{{ url_for('summary_display', selected_allergen=allergen) }}">{{ allergen }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% if username %}
    <!-- Links to display if user in session/logged in or if not -->
    <li>
        <a href="{{ url_for('account') }}" class="hvr-sweep-to-right">
            <span>{{ username }}</span>
            <i class="fas fa-user"></i>
        </a>
    </li>
    <li>
        <a href="{{ url_for('logout') }}" class="hvr-sweep-to-right">Logout</a>
    </li>
{% else %}
    <li>
        <a href="{{ url_for('register_user') }}" class="hvr-sweep-to-right">Register</a>
    </li>
    <!-- -->
{% endif %}
<!-- -->
{% endblock %} 

{% block content %}

<div class="container summary_container">
    <!-- Main content -->
    <div class="row">
        <div class="col s12 summary_display">
            <div class="col s12 count_sort">
                <!-- Count of recipes and sorting options -->
                <div class="col s12 count">
                    <div class="col s12">
                        {% if recipes_count == 1 %}
                            <!-- In case there is only 1 recipes, use the singular form of recipes -->
                            {% set of_this = "recipe" %}
                        {% else %}
                            {% set of_this = "recipes" %}
                            <!-- -->
                        {% endif %}
                        
                        {% if allergen != None %}
                            <!-- If allergen summary selected display this text -->
                            <p><strong>{{ recipes_count }}</strong> {{ of_this }} not containing {{ allergen }}</p>
                        {% else %}
                            <p><strong>{{ recipes_count }}</strong> {{ of_this }} in {{ cuisine.name }} {{ category.name }}</p>
                            <!-- -->
                        {% endif %}
                    </div>
                </div>
                <!-- -->
                <div class="col s12 sort">
                    <form action="{{ url_for('summary_display', selected_category=category._id, 
                                                                selected_cuisine=cuisine._id, 
                                                                selected_allergen=allergen) }}" method="POST">
                        <div class="input-field col s12 m6 l4">
                            <select id="sort" name="sort" onchange="this.form.submit()">
                                <option selected disabled>Sort by</option>
                                <option value="newest">Newest</option>
                                <option value="oldest">Oldest</option>
                                <option value="most_popular">Most popular</option>
                                <option value="least_popular">Least popular</option>
                            </select>
                        </div>
                    </form>
                </div>
                <!-- -->
            </div>
            {% for recipe in recipes %}
                 <!-- Recipe display -->
                <div class="col s12 m6 l4 recipe">
                    <div class="recipe_card">
                        <div class="image">
                            <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                        </div>
                        <div class="card_info">
                            <div>
                                <a href="{{ url_for('recipe_details', recipe_id=recipe._id) }}">
                                    <p>{{ recipe.title }}</p>
                                </a>
                                {% if recipe._id in user.favourite_recipes %}
                                    <!-- 
                                    Favourite button, if recipe not
                                    favourited yet, its clickable otherwise if its already favourited the 
                                    link is disabled and the start icon turns solid
                                    -->
                                    <span>
                                        <p>Favourited {{ recipe.favourited }} times</p>
                                        <i class="fas fa-star"></i>
                                    </span> 
                                {% else %}
                                    <span>
                                        <p>Favourited {{ recipe.favourited }} times</p>
                                        <a href="{{ url_for('favourite', recipe_id=recipe._id, page='account') }}">
                                            <i class="far fa-star not_favourited highlight"></i>
                                        </a>
                                    </span> 
                                    <!-- -->
                                {% endif %}
                                <p class="date">{{ recipes_dates[loop.index0] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col s12">
                <!-- Pagination -->
                <ul class="pagination small">
                    <!-- For small/below 450px in width devices only -->
                    <li class="disabled arrow">
                        <a href="{{ url_for('summary_display', selected_category=category._id,
                                                            selected_cuisine=cuisine._id,
                                                            selected_allergen=allergen,
                                                            sort=sort,
                                                            page_number=prev_page) }}">
                            <i class="material-icons">chevron_left</i>
                        </a>
                    </li>
                    {% for i in range(1, number_of_links + 1) %}
                        <!-- 
                        Show only a number of links in the range of 1 to the total number of links.
                        Add 1 in case the total number of links is equal to 0
                        For links that aren't of the current page number, show only 1 on each side so as not
                        to exceed the width of the screen on small devices with the number of links and to keep it
                        visually tidy.
                        -->
                        {% if i == page_number %}
                            <li class="active num">
                                <a href="{{ url_for('summary_display', selected_category=category._id,
                                                                    selected_cuisine=cuisine._id,
                                                                    selected_allergen=allergen,
                                                                    sort=sort,
                                                                    page_number=i) }}">{{ i }}
                                </a>
                            </li>
                        {% elif i > page_number - 2  and i < page_number + 2 %}
                            <li class="waves-effect num">
                                <a href="{{ url_for('summary_display', selected_category=category._id,
                                                                    selected_cuisine=cuisine._id,
                                                                    selected_allergen=allergen,
                                                                    sort=sort,
                                                                    page_number=i) }}">{{ i }}
                                </a>
                            </li>
                        {% endif %}
                        <!-- -->
                    {% endfor %}
                    <li class="waves-effect arrow">
                        <a href="{{ url_for('summary_display', selected_category=category._id,
                                                            selected_cuisine=cuisine._id,
                                                            selected_allergen=allergen,
                                                            sort=sort,
                                                            page_number=next_page) }}">
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </li>
                    <!-- -->
                </ul>
                <ul class="pagination big">
                    <!-- For larger devices/larger than 450px in width -->
                    <li class="disabled arrow">
                        <a href="{{ url_for('summary_display', selected_category=category._id,
                                                            selected_cuisine=cuisine._id,
                                                            selected_allergen=allergen,
                                                            sort=sort,
                                                            page_number=prev_page) }}">
                            <i class="material-icons">chevron_left</i>
                        </a>
                    </li>
                    {% for i in range(1, number_of_links + 1) %}
                        <!-- Show 4 links on each side of the current page one -->
                        {% if i == page_number %}
                            <li class="active num">
                                <a href="{{ url_for('summary_display', selected_category=category._id,
                                                                    selected_cuisine=cuisine._id,
                                                                    selected_allergen=allergen,
                                                                    sort=sort,
                                                                    page_number=i) }}">{{ i }}
                                </a>
                            </li>
                        {% elif i > page_number - 5  and i < page_number + 5 %}
                            <li class="waves-effect num">
                                <a href="{{ url_for('summary_display', selected_category=category._id,
                                                                    selected_cuisine=cuisine._id,
                                                                    selected_allergen=allergen,
                                                                    sort=sort,
                                                                    page_number=i) }}">{{ i }}
                                </a>
                            </li>
                        {% endif %}
                        <!-- -->
                    {% endfor %}
                    <li class="waves-effect arrow">
                        <a href="{{ url_for('summary_display', selected_category=category._id,
                                                            selected_cuisine=cuisine._id,
                                                            selected_allergen=allergen, 
                                                            sort=sort,
                                                            page_number=next_page) }}">
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </li>
                    <!-- -->
                </ul>
                <!-- -->
            </div>
        </div>
    </div>
    <!-- -->
</div>
{% endblock %}
