$primary_font: #141414;
$secondary_font: #292929;
$primary_orange: #F4BD81;
$secondary_orange: #F4C99A;
$teritiary_orange: #f6b26b;
$primary_red: #F48B7F;
$secondary_red: #F4A39A;
$teritiary_red: #F47769;
$primary_purple: #AF9AF4;
$secondary_purple: #C2B2F4;
$teritiary_purple: #9C81F4;
$primary_border: #DBDBDB;