%flex_column {
    display: flex;
    flex-direction: column;
}

%modify_dropdown_trigger {
    .dropdown-trigger {
        color: $primary_font;
        @media (min-width: 600px) {
            max-width: 200px;
        }
    }
}

%modify_dropdown_span {
    .dropdown-content li>span {
        color: $teritiary_orange;
        @media (min-width: 600px) {}
    }
}

%modify_dropdown_focus {
    input.select-dropdown:focus {
        border-color: $primary_orange;
    }
}

%recipe_card {
    @extend %flex_column;
    align-items: center;
    text-align: center;

    @media (min-width: 600px) {
        width: 300px;
    }

    img {
        max: {
            width: 100%;
            height: 100%;
        }
        
    }

    .card_info {
        @extend %flex_column;
        align-items: center;
        width: 100%;
        color: white;
        font-weight: 500;
        margin-top: 5px;
        background-color: $secondary_purple;

        span {
            display: flex;
            align-items: center;
        }

        a {
            text-decoration: none;
            color: white;
            &:hover {
                text-decoration: underline;
            }
        }

        p {
            margin: 10px;
        }

        i {
            font-size: 20px;
            color: $primary_orange;
        }

        .highlight:hover {
            color: $secondary_orange;
        }
    }
}
